## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp
# IDEA / RUBYMINE
.idea

## PROJECT::GENERAL
tags
coverage
rdoc
doc
.yardoc
pkg

## PROJECT::SPECIFIC
.bundle
spec/rails
*.sqlite3-journal
Gemfile.lock
Gemfile-*.lock
capybara*
viewcumber
test-rails*
public
.rvmrc
.rspec
.rails-version
.rbenv-version
