## Project (general)
tmp
coverage
.yardoc
.ruby-version
pkg

## Project (specific)
.bundle
spec/rails
.test-rails-apps
public
.rspec_failures
.rails-version
.rbenv-version
lib/bug_report_templates/tmp
