# Don't put .DS_Store, *.tm_project, *.swp, etc here; those belong in a global ~/.gitignore.
# Check out https://help.github.com/articles/ignoring-files for how to set that up.

## Project (general)
tags
coverage
rdoc
doc
.yardoc
pkg

## Project (specific)
bin/
.bundle
spec/rails
*.sqlite3-journal
Gemfile.lock
Gemfile-*.lock
capybara*
viewcumber
test-rails*
public
.rspec
.rails-version
.rbenv-version
