.blank_slate_container {
  clear: both;
  text-align: center;

  .blank_slate {
    @include rounded;
    -webkit-font-smoothing: antialiased;
    border:  $blank-slate-border;
    color: $blank-slate-primary-color;
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    padding: 14px 25px;
    text-align: center;

    small {
      display: block;
      font-size: 0.9em;
      font-weight: normal;
    }
  }
}

.admin_dashboard .blank_slate_container .blank_slate {
  margin-top: 40px;
  margin-bottom: 40px;
}

.with_sidebar .blank_slate_container .blank_slate {
  margin-top: 80px;
}
