.blank_slate_container {
  text-align: center;
}

.blank_slate {
  color: $blank-slate-primary-color;
  display: inline-block;
  font-size: 1.3em;
  font-weight: bold;

  small {
    display: block;
    font-size: 0.9em;
    font-weight: normal;
  }
}

.admin_dashboard .blank_slate,
.with_sidebar .blank_slate {
  margin: 80px 0;
}
