.breadcrumb {
  display: block;
  list-style: none;
  margin: 0 0 2px 0;
  padding: 0;

  > li {
    display: inline-block;

    + li:before {
      color: $breadcrumb-separator-color;
      content: "#{$breadcrumb-separator}\00a0"; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 5px;
    }
  }

  a,
  a:hover {
    color: $breadcrumb-color;
  }
}
