td, p {
  @include icon(#B3BCC1, 0.8em);
  span.icon { margin: 0 3px; }
}

a.member_link {
  margin-right: 7px;
  white-space: nowrap;
}

a.button, a:link.button, a:visited.button, input[type=submit] { @include dark-button; }
