.active_admin_comment {
  margin-bottom: 25px;
  max-width: 700px;
}

.active_admin_comment_meta {
  color: #999;
  margin-bottom: 5px;
}

.active_admin_comment_author {
  color: $primary-color;
  font-weight: bold;
  margin: 0;
}

.active_admin_comment fieldset.inputs {
  background-color: transparent;
  margin: 0;
  padding: 0;
}
