// -------------------------------------- Date Picker
.ui-datepicker {
  background: #fff;
  background-clip: padding-box;
  color: #fff;
  display: none;
  margin-top: 2px;
  padding: 0;
  text-align: center;
  width: 160px;

  a {
    text-decoration: none;
    &:hover {
      cursor: pointer;
    }
  }

  .ui-datepicker-header {
    @include primary-gradient;
    padding: 12px 5px 7px 4px;
    margin: 0px 0px 2px 2px;
    width: 156px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    position: relative;
    z-index: 2000;

    &:before {
       content: "";
       position: absolute;
       right: 45%;
       top: -6px;
       width: 0px;
       height: 0px;
       border-left: 8.5px solid rgba(0, 0, 0, 0);
       border-right: 8.5px solid rgba(0, 0, 0, 0);
       border-bottom: 10px solid #676e73;
    }

    .ui-datepicker-title {
      @include text-shadow(#000);
      color: #fff;
      display: block;
      font-size: 1.1em;
      font-weight: bold;
      line-height: 0.8em;
      text-align: center;

      .ui-datepicker-month {
        margin: -4px 0 0 0;
      }
      .ui-datepicker-year {
        margin: -4px 0 0 0;
      }
    }


    a {
      color: #fff;
      display: block;
      height: 19px;
      margin-top: -4px;
      width: 10px;

      &.ui-datepicker-prev {
        float: left;
        width: 0;
        height: 0;
        margin: 0px 0px 0px 4px;
        border-top: 5px solid transparent;
        border-right: 5px solid white;
        border-bottom: 5px solid transparent;
      }
      &.ui-datepicker-next {
        float: right;
        width: 0;
        height: 0;
        margin: 0px 4px 0px 0px;
        border-top: 5px solid transparent;
        border-left: 5px solid white;
        border-bottom: 5px solid transparent;
      }

      span {
        display: none;
      }
    }
  }

  table.ui-datepicker-calendar {
    @include rounded-bottom;
    @include shadow(0,1px,6px,rgba(0,0,0,0.26));
    background-color: #f4f4f4;
    border: solid 1px #63686e;
    left: 2px;
    margin-bottom: 0px;
    position: relative;
    top: -2px;
    width: 156px;

    td, th {
      padding: 0px;
      text-align: center;
    }

    thead th {
      background-color: #dbdddf;
      color: #333333;
      font-weight: normal;
      font-size: 0.8em;
      padding-top: 1px;
    }

    tbody {
      color: #666666;

      td {
        border: none;
        height: 24px;
        width: 22px;

        a {
          @include rounded;
          color: #666666;
          font-weight: bold;
          font-size: 0.85em;
          padding: 4px;

          &.ui-state-active {
            background-color: #5a5f64;
            color: #fff;
            &.ui-state-hover {
              background-color: #5a5f64;
              color: #fff;
            }
          }
          &.ui-state-hover {
            background-color: #eceef0;
          }
          &.ui-state-highlight {
            background-color: #dbdddf;
          }
        }
      }
    }
  }
}
