.ui-datepicker {
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  display: none;
  width: 160px;

  a,
  a:hover {
    text-decoration: none;
  }
}

.ui-datepicker-title {
  font-weight: bold;
  text-align: center;
}

.ui-datepicker-header {
  background-color: lighten($primary-color, 5%);
  border-radius: 0.25em 0.25em 0 0;
  color: #fff;
  padding: 5px;
  position: relative; // for datepicker prev/next buttons
}

.ui-datepicker-prev,
.ui-datepicker-next {
  bottom: 0;
  color: #fff;
  cursor: pointer;
  display: block;
  position: absolute;
  top: 0;
  width: 20px; // with top/bottom provide larger hit area for button

  // base for arrows
  &:after {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    content: '';
    height: 0;
    position: absolute;
    top: calc(50% - 4px);
    width: 0;
  }

  span {
    display: none; // hide Next/Prev text
  }
}

.ui-datepicker-prev {
  left: 0;

  &:after {
    border-right: 5px solid; // arrow pointing left
    left: calc(50% - 2px); // half of arrow size (border) to horizontally center
  }
}

.ui-datepicker-next {
  right: 0;

  &:after {
    border-left: 5px solid; // arrow pointing right
    right: calc(50% - 2px); // half of arrow size (border) to horizontally center
  }
}

.ui-datepicker-calendar {
  background-color: #f4f4f4;
  border: solid 1px #63686e;
  border-width: 0 1px 1px 1px;
  margin-bottom: 0;

  td, th {
    padding: 0;
    text-align: center;
  }

  thead th {
    border-bottom: none;
    font-size: 0.9em;
    font-weight: normal;
    padding: 2px 0;
  }

  tbody {
    td {
      border: none;
      height: 22px;
      width: 22px;

      a {
        border-radius: 0.25em;
        color: #555;
        display: block;
        font-size: 0.9em;
        padding: 4px 0;

        &:hover {
          background-color: #eceef0;
        }

        &.ui-state-active,
        &.ui-state-active:hover {
          background-color: #5a5f64;
          color: #fff;
        }

        &.ui-state-highlight,
        &.ui-state-highlight:hover { // today's date
          background-color: #dbdddf;
          color: #666;
        }
      }
    }
  }
}
