.caret {
  border-left: $caret-width-base solid transparent;
  border-right: $caret-width-base solid transparent;
  border-top: $caret-width-base dashed;
  display: inline-block;
  height: 0;
  vertical-align: middle;
  width: 0;
}

.dropdown_menu {
  display: inline-block;
  position: relative;
}

.dropdown_menu_button {
  @include default-button;
}

.dropdown_menu_list_wrapper {
  display: none;
  left: 0;
  position: absolute;
  top: 100%;
  z-index: 950;
}

.dropdown_menu_list {
  background-color: $dropdown-background-color;
  border: 1px solid $dropdown-border-color;
  border-radius: $border-radius-base;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  display: block;
  list-style: none;
  margin: 2px 0 0 0;
  min-width: 160px;
  padding: 5px 0;

  > li {
    > a {
      color: $dropdown-link-color;
      display: block;
      padding: 4px 15px;
      text-decoration: none;
      white-space: nowrap;

      &:hover {
        background-color: $dropdown-link-hover-background-color;
        color: $dropdown-link-hover-color;
      }
    }
  }
}
