.dropdown_menu {
  display: inline-block;
  position: relative;
}

.dropdown_menu_button {
  @include light-button;
  padding-right: 22px;
  position: relative;

  &:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px dashed;
    content: '';
    height: 0;
    position: absolute;
    right: 11px;
    top: 45%;
    width: 0;
  }
}

.dropdown_menu_list_wrapper {
  display: none;
  left: 0;
  position: absolute;
  top: 100%;
  z-index: 950;
}

.dropdown_menu_list {
  background-color: #FFF;
  border: 1px solid #c7c7c7;
  border-radius: 3px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  display: block;
  list-style: none;
  margin: 2px 0 0 0;
  min-width: 160px;
  padding: 5px 0;

  > li {
    > a {
      display: block;
      padding: 4px 15px;
      text-decoration: none;
      white-space: nowrap;

      &:hover {
        background-color: #e9e9e9;
      }
    }
  }
}
