body.logged_in {
  .flash {
    background-color: #f7f1d3;
    color: #cb9810;
    font-weight: bold;
    font-size: 1.1em;
    padding: 13px 30px 11px;
    position: relative;

    &.flash_notice {
      background-color: #ccdfcd;
      color: #416347;
    }
    &.flash_error {
      background-color: #f1dcdc;
      color: #b33c33;
    }
  }
}

body.logged_out {
  .flash {
    color: #666;
    font-weight: bold;
    margin-bottom: 8px;
  }
}
