.flash {
  background-color: #f7f1d3;
  color: #cb9810;
  font-size: 1.1em;
  font-weight: bold;
  padding: 12px $horizontal-page-margin;

  &.flash_notice {
    background-color: #ccdfcd;
    color: #416347;
  }

  &.flash_error {
    background-color: #f1dcdc;
    color: #b33c33;
  }
}
