// -------------------------------------- Index as Grid 
table.index_grid td { border: none; background: none; padding: 0 20px 20px 0; margin: 0;}

// -------------------------------------- Columns
.columns {
  clear: both;
  padding: 0;
  .column { float: left; }
}