// -------------------------------------- Index as Grid
table.index_grid td {
  border: none;
}

// -------------------------------------- Columns
.columns {
  @include clearfix;
  margin-bottom: 10px;
  padding: 0;

  .column {
    float: left;
  }
}
