.ui-widget-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1001;
}

.ui-dialog {
  @include section-background;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  outline: none;
  position: fixed;
  z-index: 1002;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  label {
    margin-right: 10px;
  }

  form,
  .ui-dialog-buttonpane {
    padding: 15px;
  }
}

.ui-dialog-titlebar {
  @include section-header;
}

.ui-dialog-titlebar-close {
  display: none;
}

.ui-dialog-buttonpane button {
  margin-right: 5px;

  & {
    @include default-button;
  }

  &.cancel {
    @include light-button;
  }
}
