.paginated_collection_contents {
  clear: both;
}

.pagination {
  float: right;
  font-size: 0.9em;
  margin-left: 10px;

  a {
    @include light-button;
  }

  span.page.current {
    @include default-button;
  }

  a, span.page.current {
    @include rounded(0px);
    margin-right: 4px;
    padding: 2px 5px;
  }
}

.pagination_information {
  float: right;
  margin-bottom: 5px;
  color: #b3bcc1;
  b { color: #5c6469; }
}

.download_links {
  float: left;
}
