.pagination {
  float: right;
  font-size: 0.9em;
  margin-left: 10px;

  a {
    @include light-button;
  }

  span.page.current {
    @include default-button;
  }

  a, span.page.current {
    margin-right: 3px;
    padding: 2px 5px;
  }
}

.pagination_information {
  color: #b3bcc1;
  float: right;
  margin-top: 2px; // match pagination link top padding so both appear vertically aligned

  b {
    color: #5c6469;
  }
}

.download_links {
  float: left;
}

.pagination_per_page {
  float: right;
  margin: 2px 0 0 4px;
}
