.pagination {
  float: right;
  margin-left: 10px;

  a {
    @include button-base;
    @include default-button;
  }

  .page.current {
    background-color: $button-primary-background-color;
    border: 1px solid $button-primary-border-color;
    border-radius: $border-radius-base;
    color: $button-primary-color;
    cursor: default;
    display: inline-block;
    font-weight: $button-font-weight;
  }

  a,
  .page.current {
    padding: 1px 5px;
  }
}

.pagination_information {
  color: $text-muted-color;
  float: right;
  margin-top: 2px; // match pagination link top padding so both appear vertically aligned

  b {
    color: $text-color;
  }
}

.download_links {
  float: left;
}

.pagination-per-page {
  float: right;
  margin: 2px 0 0 4px;
}

.comments {
  .pagination {
    float: left;
    margin-bottom: 30px;
  }
  .pagination_information {
    float: left;
    color: #000;
  }
}
