// ----------------------------------- Helper class to apply to elements to make them sections
.section, .panel{ @include section; }

// ----------------------------------- Sidebar Sections 

.sidebar_section { @include section; }
