.panel {
  background-color: $panel-background-color;
  border-radius: $panel-border-radius;
  margin-bottom: 20px;
}

.panel-body {
  padding: $panel-body-padding;
}

.panel-heading {
  background-color: $panel-heading-background-color;
  border-radius: $panel-border-radius $panel-border-radius 0 0;
  font-weight: $font-weight-bold;
  padding: $panel-heading-padding;
}

.panel-title {
  font-size: $font-size-base;
  margin: 0;
}

.panel-heading-actions {
  float: right;
}
