.popover {
  display: inline-block;
  position: absolute;
  background-color: white;
  padding: 3px;
  box-shadow: rgba(0,0,0,0.4) 0 1px 3px;
  background-color: $primary-color;
  border-radius: 4px;
  
  &::after {
    content: "";
    position: absolute;
    top: -6px;
    left: 50px;
    border-width: 0 6px 6px;
    border-style: solid;
    border-color: $primary-color transparent;
    display: block;
    width: 0;
  }
  
  .popover_contents {
    display: block;
    background-color: #FFF;
    border-radius: 4px;
    margin: 0;
    overflow: hidden;
    padding: 8px;
  }
  
}
  
//-------------------------------------- Popover with action list

.popover {
  ul.popover_contents {
    list-style-type: none;
    padding: 0;
  
    li {
      display: block;
      border-bottom: solid 1px #ebebeb;
    
      a {
        display: block;
        font-size: 0.95em;
        font-weight: bold;
        padding: 7px 16px 5px;
        text-decoration: none;
        text-align: center;
        -webkit-font-smoothing: antialiased;
        
        &:hover {
          @include highlight-gradient;
          @include text-shadow(#5a83aa);
          color: #FFF;
        }
      
        &:active {
          @include reverse-highlight-gradient;
          color: #FFF;
        }
      
      }
    
      &:last-child {
        border: none;
      }
    }
  }
}