.table_tools {
  margin-bottom: 16px;
  @include clearfix;
}

.table_tools .dropdown_menu {
  float: left;
}

a.table_tools_button, .table_tools .dropdown_menu_button {
  @include light-button;

  & {
    @include gradient(#FFFFFF, #F0F0F0);
    @include border-colors(#d9d9d9, #d0d0d0, #c5c5c5);
    font-size: 0.9em;
    padding: 4px 14px 4px;
    margin: 0;
  }

  &:not(.disabled) {
    &:hover {
      @include gradient(#FFFFFF, #F6F6F6);
    }

    &:active {
      @include border-colors(#d7d7d7, #c8c8c8, #c3c3c3);
      box-shadow: 0 1px 1px 0 rgba(0,0,0,0.17) inset;
      @include gradient(#FFFFFF, #E8E8E8);
    }
  }
}

.table_tools_segmented_control {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    float: left;

    a {
      border-width: 1px .5px 1px .5px;
      border-radius: 0;
    }

    &:first-child a {
      border-left-width: 1px;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
    }

    &:last-child a {
      border-right-width: 1px;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
    }

    &.selected a {
      @include gradient(#F0F0F0, #FDFDFD);
      box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1) inset;
      cursor: default;

      &:hover {
        @include gradient(#F0F0F0, #FDFDFD);
      }
    }

  }
}
