//= depend_on_asset "active_admin/orderable.png"
// ----------------------------------- Tables

th {
  text-align: left;
}

// --------- Index Tables

table.index_table {
  margin-bottom: 10px;
  width: 100%;

  th {
    background-color: #e9e9e9;
    padding: 10px 12px 8px 12px;

    a, a:link, a:visited {
      color: $section-header-text-color;
      text-decoration: none;
      display: block;
      white-space: nowrap;
    }

    &.sortable a {
      background: image-url('active_admin/orderable.png') no-repeat 0 4px; padding-left: 13px;
    }

    &.sorted-asc a { background-position: 0 -27px; }
    &.sorted-desc a {  background-position: 0 -56px;}

    &.sorted-asc, &.sorted-desc {
      background-color: darken($secondary-gradient-stop, 5%);
    }
  }

  tr.even td { background: $table-stripe-color; }

  tr.selected td {
    background: $table-selected-color;
  }

  td {
    padding: 10px $cell-horizontal-padding 8px $cell-horizontal-padding;
    border-bottom: 1px solid #e8e8e8;
  }
}

// --------- Tables inside Panels

.panel_contents table {
  margin-top: 5px;
  width: 100%;

  th {
    padding-top: 10px;
    background: none;
    color: $primary-color;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
  }
  tr.odd td { background: darken($table-stripe-color, 3%); }
  tr.even td { background: $table-stripe-color; }
}

// -------------------------------------- Resource Attributes Table
.attributes_table { overflow: hidden; }

.attributes_table table {
  width: 100%;

  col.even { background: $table-stripe-color; }
  col.odd  { background: darken($table-stripe-color, 3%); }
  th, td {
    padding: 8px $cell-horizontal-padding 6px $cell-horizontal-padding;
    border-bottom: 1px solid #e8e8e8;
  }
  th {
    width: 150px;
    font-size: 0.9em;
    padding-left: 0;
    text-transform: uppercase;
    color: $primary-color;
  }
  td {
    .empty {
      color: #bbb;
      font-size: 0.8em;
      text-transform: uppercase;
      letter-spacing: 0.2em;
    }
  }
}

.sidebar_section .attributes_table th { width: 50px; }
