.ui-tabs-nav {
  list-style: none;
  display: block;
  width: auto;
  margin-bottom: -12px;
  padding-left: 0;
  overflow: auto;
  margin-left: 15px;

  li {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    float: left;

    &:first-child a {
      border-left-width: 1px;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
    }

    &:last-child a {
      border-right-width: 1px;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
    }

    a {
      @include light-button;
      @include gradient(#FFFFFF, #F0F0F0);
      @include border-colors(#d9d9d9, #d0d0d0, #c5c5c5);
      text-decoration: none;
      border-radius: 0;
      border-width: 1px .5px 1px .5px;
      margin-right: 0;
      padding: 4px 14px 4px;

      &:not(.disabled) {
        &:hover {
          @include gradient(#FFFFFF, #F6F6F6);
        }
      }
    }

    &.ui-tabs-active {
      a {
        cursor: default;
        @include gradient(#F0F0F0, #FDFDFD);
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1) inset;

        a:hover {
          @include gradient(#F0F0F0, #FDFDFD);
        }
      }
    }
  }
}

.tab-content {
  border: 1px solid #D3D3D3;
  padding: 15px;
  padding-top: 30px;
  text-align: left;
}