.table_tools {
  display: block;
  margin-bottom: 14px;
  width: 100%;
}

.table_tools {
  .table_tools_button + .table_tools_button {
    margin-left: 6px;
  }
  
  .table_tools_button + .table_tools_segmented_control {
    margin-left: 6px;
  }
  
  .table_tools_segmented_control + .table_tools_button {
    margin-left: 6px;
  }
}

a.table_tools_button {
  @include light-button;
  font-size: 0.9em;
  color: #777;
  text-decoration: none;
  padding: 4px 14px 4px;
  position: relative;
  
  &.selected {
    @include box-shadow(0 1px 0px rgba(0,0,0,0.10), 0 0 0 1px #FFF inset, 0 0 10px rgba(120,175,220,0.36));
    
    &:active {
      @include box-shadow(0 1px 0px rgba(0,0,0,0.10), 0 0 0 1px #FFF inset, 0 0 10px rgba(120,175,220,0.36), 0, 1px, 2px, rgba(0,0,0,0.30));
    }
  }

  &.dropdown_button {
    padding-right: 20px;
    
    .arrow {
      border-color: #777 transparent transparent;
      border-style: solid;
      border-width: 3px 3px 0;
      height: 0;
      position: absolute;
      top: 8px;
      right: 9px;
      width: 0;
    }
  }

}

.table_tools_segmented_control {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  li {
    display: inline-block;
    list-style-image: none;
    list-style-type: none;
    margin-left: -7px;
    white-space: nowrap;
    
    a {
      border-radius: 0px;
    }
    
    &:first-child {
      margin-left: 0;
      
      a {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
      }
    }
    
    &:last-child {
      a {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
      }
    }
    
    &.selected {
      a {
        background: #ededed;
        @include box-shadow(0 1px 0px 0 rgba(0,0,0,0.06) inset);
        color: #989ca0;
        cursor: default;
        
        &:hover {
          color: #989ca0;
        }
      }
    }
  }
  
}