.table_tools {
  margin-bottom: 15px;
}

a.table_tools_button {
  @include light-button;
  font-weight: normal;
}

.table_tools_segmented_control {
  @include clearfix;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: bottom; // required so this aligns correctly with .dropdown_menu

  .count {
    color: #8e979e;
    font-weight: normal;
  }

  li {
    float: left;

    & + li a {
      border-radius: 0;
      margin-left: -1px;
    }

    &:first-child a {
      border-radius: 0.25em 0 0 0.25em;
    }

    &:last-child a {
      border-radius: 0 0.25em 0.25em 0;
    }

    &.selected a {
      @include gradient(#F0F0F0, #FDFDFD);

      &:hover {
        @include gradient(#F0F0F0, #FDFDFD);
      }
    }
  }
}
