.nav-tabs {
  @include clearfix;
  display: block;
  list-style: none;
  margin: 0 0 0 5px;
  padding-left: 0;

  li {
    float: left;
    margin: 0 2px -1px 0;
    position: relative;

    a {
      @include button-base;
      border-radius: 0.25em 0.25em 0 0;
      outline: none;

      &:hover {
        background-color: darken(#fff, 10%);
        border-bottom-color: #d3d3d3;
      }
    }

    &.ui-tabs-active {
      a,
      a:hover {
        background-color: #fff;
        border: 1px solid #d3d3d3;
        border-bottom-color: transparent;
        color: $text-color;
      }
    }
  }
}

.tab-content {
  background-color: #fff;
  border: 1px solid #D3D3D3;
  border-radius: 0.25em;
  padding: 15px;
}
