.table_tools {
  margin-bottom: 15px;
}

a.table_tools_button {
  @include light-button;
  font-weight: normal;
}

.table_tools_segmented_control {
  @include clearfix;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: bottom; // required so this aligns correctly with .dropdown_menu

  .badge {
    background-color: rgba(0,0,0,0.35);
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    line-height: 1;
    padding: 3px 7px;
    vertical-align: baseline;
  }

  li {
    float: left;

    & + li a {
      border-radius: 0;
      margin-left: -1px;
    }

    a {
      position: relative;

      &:hover,
      &:focus,
      &:active {
        z-index: 2;
      }
    }

    &:first-child a {
      border-radius: 0.25em 0 0 0.25em;
    }

    &:last-child a {
      border-radius: 0 0.25em 0.25em 0;
    }

    &.selected a {
      background-color: darken(#fff, 10%);
      border-color: darken(#d9d9d9, 12%);
      z-index: 2;

      &:hover {
        background-color: darken(#fff, 17%);
        border-color: darken(#d9d9d9, 25%);
      }
    }
  }
}
