.ui-tabs-nav {
  border-bottom: 1px solid #DDD;
  list-style: none;
  display: block;
  width: auto;
  margin-bottom: 15px;
  padding-left: 0;

  a {
    display: block;
  }

  li {
    display: inline-block;
    position: relative;
    margin-bottom: -1px;
  }

  li.ui-tabs-active > a, li.ui-tabs-active > a:hover, li.ui-tabs-active > a:focus {
    color: #555;
    cursor: default;
    background-color: #FFF;
    border: 1px solid #DDD;
    border-bottom-color: rgba(0, 0, 0, 0);
  }

  li > a:hover {
    border-color: #EEE #EEE #DDD;
  }

  li > a:hover, li > a:focus {
    text-decoration: none;
    background-color: #EEE;
  }
  li > a {
    text-decoration: none;
    padding: 12px 15px;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px 4px 0 0;
  }
}
