.table_tools {
  display: block;
  margin-bottom: 16px;
  width: 100%;
  height: 20px;
}

.table_tools {
  .table_tools_button + .table_tools_button {
    margin-left: 6px;
  }

  .table_tools_button + .table_tools_segmented_control {
    margin-left: 6px;
  }

  .table_tools_segmented_control + .table_tools_button {
    margin-left: 6px;
  }

}


a.table_tools_button, .table_tools .dropdown_menu_button {
  @include light-button;
  @include gradient(#FFFFFF, #F0F0F0);
  @include border-colors(#d9d9d9, #d0d0d0, #c5c5c5);
  font-size: 0.9em;
  text-decoration: none;
  padding: 4px 14px 4px;
  position: relative;
  -webkit-transition: all 0.08s ease-in;

  &:not(.disabled) {
    &:hover {
      @include gradient(#FFFFFF, #F6F6F6);
    }

    &:active {
      @include border-colors(#d7d7d7, #c8c8c8, #c3c3c3);
      box-shadow: 0 1px 1px 0 rgba(0,0,0,0.17) inset;
      @include gradient(#FFFFFF, #E8E8E8);
    }
  }
}

.table_tools_segmented_control {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    list-style-image: none;
    list-style-type: none;
    margin-left: -7px;
    white-space: nowrap;

    a {
      border-radius: 0px;
    }

    &:first-child {
      margin-left: 0;

      a {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
      }
    }

    &:last-child {
      a {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
      }
    }

    &.selected {

      a {
        @include gradient(#F0F0F0, #FDFDFD);
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1) inset;
        cursor: default;

        &:hover {
          @include gradient(#F0F0F0, #FDFDFD);
        }
      }
    }

  }

}
