.unsupported_browser {
  padding: 10px 30px;
  color: #211e14;
  background-color: #fae692;
  @include gradient(#feefae, #fae692);
  border-bottom: 1px solid #b3a569;

  h1 {
    font-size: 13px;
    font-weight: bold;
  }

  p {
    margin-bottom: 0.5em;
  }
}
