<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  
  <%= stylesheet_link_tag 'active_admin' %>
  
</head>
<body>
<div id="wrapper">
  <div id="header">
    <h1 id="site_title">Active Admin</h1>
  </div>
  <div id="content">
    <div id="main_content">
      <%= yield %>
    </div>
    <div id="sidebar">
      <%= yield :sidebar %>
    </div>
  </div>
</div>
</body>
</html>
