.devise-form-container {
  background-color: $panel-background-color;
  border-radius: $border-radius-base;
  margin: 70px auto;
  padding: 5px 0;
  width: 500px;

  h2 {
    font-size: 1.8em;
    padding: 0 15px;
  }

  .inputs {
    background-color: transparent;
    margin-bottom: 0;
  }
}
