@mixin default-button {
  @include gradient(lighten($primary-color, 15%), darken($primary-color, 12%));
  @include rounded(200px);
  @include text-shadow(#000);
  @include box-shadow(0 1px 0px rgba(0,0,0,0.10), 0 0 0 1px #777d83 inset);
  border: solid 1px #484e53;
  @include border-colors(#616a71, #484e53, #363b3f);
  display: inline-block;
  text-decoration: none;
  margin-right: 3px;
  font-weight: bold;
  font-size: 1.0em;
  line-height: 12px;
  padding: 6px 16px 6px;
  color: #efefef;
  
  &:hover {
    color: #fff;
    @include icon-color(#fff);
  }
  &:active {
    @include box-shadow(0 1px 2px rgba(0,0,0,0.8) inset, 0 1px 0 0px #FFF);
  }
}

@mixin light-button {
  @include default-button;
  @include gradient(#fdfdfd, #e8e8e8);
  @include box-shadow(0 1px 0px rgba(0,0,0,0.10), 0 0 0 1px #FFF inset);
  @include border-colors(#dbdbdb, #d2d2d2, #c5c5c5);
  @include text-shadow;
  color: #777;
  &:hover {
    color: #444;
    @include icon-color(#444);
  }
  &:active {
    @include box-shadow(0 1px 2px rgba(0,0,0,0.4) inset, 0 1px 0 0px #FFF);
  }
  
  &.disabled {
    color: #777;
    cursor: default;
    opacity: 0.6;
    
    &:hover {
      color: #777;
    }
    &:active {
      @include box-shadow(0 1px 0px rgba(0,0,0,0.10), 0 0 0 1px #FFF inset);
    }
  }
}

@mixin dark-button {
  @include default-button;
  
  &:hover {
    color: #fff;
    @include icon-color(#fff);
    @include gradient(lighten($primary-color, 20%), darken($primary-color, 18%));
  }
}
