@mixin basic-button {
  @include rounded(200px);
  display: inline-block;
  font-weight: bold;
  font-size: 1.0em;
  @include sans-family;
  line-height: 12px;
  margin-right: 3px;
  padding: 7px 16px 6px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;

  &.disabled {
    opacity: 0.5;
    cursor: default;
  }

}

@mixin default-button {
  @include basic-button;
  @include gradient(lighten($primary-color, 15%), darken($primary-color, 12%));
  @include text-shadow(#000);
  @include box-shadow(0 1px 1px rgba(0,0,0,0.10), 0 1px 0 0px rgba(255,255,255, 0.2) inset);
  border: solid 1px #484e53;
  @include border-colors(#616a71, #484e53, #363b3f);
  color: #efefef;
  
  &:not(.disabled) {
    &:hover{
      @include gradient(lighten($primary-color, 18%), darken($primary-color, 9%));
    }
    
    &:active {
      @include box-shadow(0 1px 3px rgba(0,0,0,0.40) inset, 0 1px 0 0px #FFF);
      @include gradient(lighten($primary-color, 8%), darken($primary-color, 17%));
    }
  }
}

@mixin light-button {
  @include basic-button;  
  @include gradient(#FFF, #E7E7E7);
  @include box-shadow(0 1px 1px rgba(0,0,0,0.10), 0 1px 0 0 rgba(255,255,255, 0.8) inset);
  border: solid 1px #c7c7c7;
  @include border-colors(#d3d3d3, #c7c7c7, #c2c2c2);
  @include text-shadow;
  color: $primary-color;

  &:not(.disabled) {
    &:hover {
      @include gradient(#FFF, #F1F1F1);
    }

    &:active {
      @include box-shadow(0 1px 2px rgba(0,0,0,0.22) inset, 0 1px 0 0px #EEE);
      @include border-colors(#c2c2c2, #b9b9b9, #b7b7b7);
      @include gradient(#F3F3F3, #D8D8D8);
    }
  }

}

@mixin dark-button {
  @include default-button;
}
