@mixin basic-button {
  border-radius: 0.25em;
  cursor: pointer;
  display: inline-block;
  font-size: 1.0em;
  font-weight: bold;
  line-height: 1.5; // needed for input/button elements to match a.button size
  padding: 6px 10px;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $primary-color;
    text-decoration: none;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

@mixin default-button {
  @include basic-button;
  @include gradient(lighten($primary-color, 15%), darken($primary-color, 12%));
  border: solid 1px #484e53;
  color: #efefef;

  &:not(.disabled) {
    &:hover{
      @include gradient(lighten($primary-color, 18%), darken($primary-color, 9%));
    }

    &:active {
      @include gradient(lighten($primary-color, 8%), darken($primary-color, 17%));
    }
  }
}

@mixin light-button {
  @include basic-button;
  @include gradient(#FFFFFF, #E7E7E7);
  border: solid 1px #c7c7c7;
  color: $primary-color;

  &:not(.disabled) {
    &:hover {
      @include gradient(#FFFFFF, #F1F1F1);
    }

    &:active {
      @include gradient(#F3F3F3, #D8D8D8);
    }
  }

}

@mixin dark-button {
  @include default-button;

  &:hover,
  &:focus {
    color: #efefef;
  }
}
