@mixin basic-button {
  border: 1px solid transparent;
  border-radius: 0.25em;
  cursor: pointer;
  display: inline-block;
  font-size: 1.0em;
  font-weight: bold;
  line-height: 1.5; // needed for input/button elements to match a.button size
  padding: 6px 10px;
  text-decoration: none;
  transition: background-color .2s, border-color .2s, color .2s;

  &:hover,
  &:focus {
    color: $primary-color;
    text-decoration: none;
  }

  &:active {
    outline: 0;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

@mixin default-button {
  @include basic-button;
//   @include gradient(lighten($primary-color, 15%), darken($primary-color, 12%));
// $primary-color: #3498DB;
  background-color: $primary-color;
  border: 1px solid darken($primary-color, 5%);
  color: #fff;

  &:not(.disabled) {
    &:hover{
//       @include gradient(lighten($primary-color, 18%), darken($primary-color, 9%));
      background-color: darken($primary-color, 10%);
      border-color: darken($primary-color, 15%);
    }

    &:active {
//       @include gradient(lighten($primary-color, 8%), darken($primary-color, 17%));
      box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    }
  }

  &:hover,
  &:focus {
    color: #fff;
  }
}

@mixin light-button {
  @include basic-button;
//   @include gradient(#FFFFFF, #E7E7E7);
  background-color: #fff;
  border: 1px solid #d9d9d9;
  color: $primary-color;

  &:not(.disabled) {
    &:hover {
//       @include gradient(#FFFFFF, #F1F1F1);
      background-color: darken(#fff, 10%);
      border-color: darken(#d9d9d9, 12%);
    }

    &:active {
//       @include gradient(#F3F3F3, #D8D8D8);
      box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    }
  }
}
