$secondary-gradient-start: #efefef;
$secondary-gradient-stop: #dfe1e2;

@mixin gradient($start, $end){ 
  background: $start; 
  background: -webkit-gradient(linear, left top, left bottom, from($start), to($end)); 
  background: -moz-linear-gradient(-90deg, $start, $end); 
  // IE 6 & 7
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$start}, endColorstr=#{$end});
  // IE 8
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$start}, endColorstr=#{$end});
}

@mixin primary-gradient { 
  @include gradient(lighten($primary-color, 5%), darken($primary-color, 7%));
  border-bottom: 1px solid darken($primary-color, 11%);
}

@mixin secondary-gradient { 
  @include gradient($secondary-gradient-start, $secondary-gradient-stop);
}

@mixin no-gradient {
  background: none;
  // IE 6 & 7
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  // IE 8
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
}
