@mixin rounded($radius: 3px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin rounded-all($top-left:3px, $top-right:3px, $bottom-right:3px, $bottom-left:3px) {
  border-top-right-radius: $top-right;
  -moz-border-radius-topright: $top-right;
  -webkit-border-top-right-radius: $top-right;

  border-top-left-radius: $top-left;
  -moz-border-radius-topleft: $top-left;
  -webkit-border-top-left-radius: $top-left;

  border-bottom-right-radius: $bottom-right;
  -moz-border-radius-bottomright: $bottom-right;
  -webkit-border-bottom-right-radius: $bottom-right;

  border-bottom-left-radius: $bottom-left;
  -moz-border-radius-bottomleft: $bottom-left;
  -webkit-border-bottom-left-radius: $bottom-left;
}

@mixin rounded-top($radius: 3px) {
  @include rounded(0);
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
  -moz-border-radius-topright: $radius;
  -moz-border-radius-topleft: $radius;
  -webkit-border-top-right-radius: $radius;
  -webkit-border-top-left-radius: $radius;
}

@mixin rounded-bottom($radius: 3px) {
  @include rounded(0);
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  -moz-border-radius-bottomleft: $radius;
  -webkit-border-bottom-right-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
}
