@mixin section-header {
  background-color: #e9e9e9;
  border-radius: 4px 4px 0 0;
  font-size: 1em;
  font-weight: bold;
  color: $section-header-text-color;
  padding: 5px 10px 3px 10px;
}

@mixin section-background {
  background-color: #f8f8f8;
  border-radius: 4px;
}

@mixin section {
  @include section-background;
  margin-bottom: 20px;

  > h3 {
    @include section-header;

    .header_action {
      float: right;
    }
  }

  > div { padding: 3px $section-padding $section-padding $section-padding; }
}
