// Variables used throughout Active Admin.
// They can be overridden by prepending your own
// to 'app/assets/stylesheets/active_admin.css.scss'.

// Colors
$body-background-color: #FFF !default;
$primary-color: #5E6469 !default;
$secondary-color: #f0f0f0 !default;
$text-color: #323537 !default;
$link-color: #38678b !default;
$section-header-text-color: $primary-color !default; // REMOVED
$current-menu-item-background: lighten($primary-color, 12%) !default;
$hover-menu-item-background: lighten($primary-color, 12%) !default;
$table-stripe-color: #f8f8f8 !default;
$table-selected-color: #fcf8e3 !default;
$error-color: #932419 !default;
$blank-slate-primary-color: #AAA !default;
$breadcrumbs-color: #8a949e !default;           // renamed: $breadcrumb-color
$breadcrumbs-separator-color: #aab2ba !default; // renamed: $breadcrumb-separator-color
$required-field-marker-color: #aaa !default;
$form-label-color: $section-header-text-color !default; // REMOVED
$page-header-text-color: #cdcdcd !default;

// Sizes
$border-width: 1px !default;
$horizontal-page-margin: 20px !default;
$sidebar-width: 270px !default;
$cell-padding: 5px 10px 3px 10px !default;    // renamed: $table-cell-padding
$cell-horizontal-padding: 12px !default;      // REMOVED
$section-padding: 15px !default;              // renamed: $panel-body-padding
$text-input-horizontal-padding: 8px !default;
$text-input-total-padding: $text-input-horizontal-padding * 2 + $border-width * 2;
$blank-slate-border: 1px dashed #DADADA !default;



// NEW VARIABLES

$font-family-sans-serif: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base: $font-family-sans-serif;

$font-weight-normal: normal;
$font-weight-semibold: normal;
$font-weight-bold: bold;

$font-size-base: 13px;

$line-height-base: 1.5;

$text-color: #323537;

$body-background-color: #fff;
$body-font-size: $font-size-base;
$body-font-weight: $font-weight-normal;

$header-font-family: inherit;
$header-font-weight: inherit;
$header-color: inherit;

//== Components

$primary-color: #5E6469;
$secondary-color: #f0f0f0;

$border-radius-base: 0.25em;

$padding-base-vertical: 6px;
$padding-base-horizontal: 10px;

//== z-indexes



//== Buttons

$button-font-weight: $font-weight-bold;

//== Tables

$table-cell-padding: 8px;

//== Breadcrumbs

$breadcrumb-color: #8a949e;
$breadcrumb-separator-color: #aab2ba;
$breadcrumb-separator: "/";

//== Flash Messages

$flash-message-font-weight: bold;
$flash-message-padding: 12px $horizontal-page-margin;

$flash-message-default-background-color: #f7f1d3;
$flash-message-default-text-color: #cb9810;

$flash-message-notice-background-color: #ccdfcd;
$flash-message-notice-text-color: #416347;

$flash-message-error-background-color: #f1dcdc;
$flash-message-error-text-color: #b33c33;

//== Panels

$panel-background-color: #f8f8f8;
$panel-body-padding: 15px;
$panel-heading-background-color: #e6e6e6;
$panel-heading-padding: 10px 15px;
$panel-border-radius: $border-radius-base;
