// Variables used throughout Active Admin.
// They can be overridden by prepending your own
// to 'app/assets/stylesheets/active_admin.css.scss'.

// Colors
$primary-color: #5E6469 !default;
$secondary-color: #f0f0f0 !default;
$text-color: #323537 !default;
$link-color: #38678b !default;
$section-header-text-color: $primary-color !default;
$current-menu-item-background: lighten($primary-color, 12%) !default;
$hover-menu-item-background: lighten($primary-color, 12%) !default;
$table-stripe-color: lighten($primary-color, 57%) !default;
$table-selected-color: #d9e4ec !default;
$error-color: #932419 !default;

// Sizes
$horizontal-page-margin: 30px !default;
$sidebar-width: 270px !default;
$cell-padding: 5px 10px 3px 10px !default;
$cell-horizontal-padding: 12px !default;
$section-padding: 15px !default;
$text-input-horizontal-padding: 10px !default;

