// Variables used throughout Active Admin

// Colors
$primary-color: #5E6469;
$secondary-color: #f0f0f0;
$text-color: #323537;
$link-color: #38678b;
$section-header-text-color: $primary-color;
$current-menu-item-background: lighten($primary-color, 12%);
$hover-menu-item-background: lighten($primary-color, 12%);
$table-stripe-color: lighten($primary-color, 57%); 
$error-color: #932419;

// Sizes
$horizontal-page-margin: 30px;
$sidebar-width: 270px;
$cell-padding: 5px 10px 3px 10px;
$cell-horizontal-padding: 12px;
$section-padding: 15px;
$text-input-horizontal-padding: 10px;

