// Variables used throughout Active Admin.
// They can be overridden by prepending your own
// to 'app/assets/stylesheets/active_admin.css.scss'.

// Colors
$body-background-color: #FFF !default;
$primary-color: #5E6469 !default;
$secondary-color: #f0f0f0 !default;
$text-color: #323537 !default;
$link-color: #38678b !default;
$section-header-text-color: $primary-color !default; // renamed: $title-bar-color
$current-menu-item-background: lighten($primary-color, 12%) !default; // renamed: $navbar-link-active-background-color
$hover-menu-item-background: lighten($primary-color, 12%) !default; // renamed: $navbar-link-hover-background-color
$table-stripe-color: #f8f8f8 !default;
$table-selected-color: #fcf8e3 !default;
$error-color: #932419 !default;
$blank-slate-primary-color: #AAA !default;
$breadcrumbs-color: #8a949e !default;           // renamed: $breadcrumb-color
$breadcrumbs-separator-color: #aab2ba !default; // renamed: $breadcrumb-separator-color
$required-field-marker-color: #aaa !default;
$form-label-color: $section-header-text-color !default; // REMOVED
$page-header-text-color: #cdcdcd !default;              // REMOVED

// Sizes
$border-width: 1px !default;                // REMOVED
$horizontal-page-margin: 20px !default;
$sidebar-width: 270px !default;
$cell-padding: 5px 10px 3px 10px !default;    // renamed: $table-cell-padding
$cell-horizontal-padding: 12px !default;      // REMOVED
$section-padding: 15px !default;              // renamed: $panel-body-padding
$text-input-horizontal-padding: 8px !default; // REMOVED
$text-input-total-padding: $text-input-horizontal-padding * 2 + $border-width * 2 !default; // REMOVED
$blank-slate-border: 1px dashed #DADADA !default;



// NEW VARIABLES

$font-family-sans-serif: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !default;
$font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif !default;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

$font-weight-normal: 400 !default;
$font-weight-semibold: 400 !default;
$font-weight-bold: 700 !default;

$font-size-base: 13px !default;

$line-height-base: 1.5 !default;

$text-color: #323537 !default;

$body-background-color: #fff !default;
$body-font-size: $font-size-base !default;
$body-font-weight: $font-weight-normal !default;

$header-font-family: inherit !default;
$header-font-weight: inherit !default;
$header-color: inherit !default;

//== Components

$primary-color: #5E6469 !default;
$secondary-color: #f0f0f0 !default;

$border-radius-base: 0.25em !default;

$padding-base-vertical: 6px !default;
$padding-base-horizontal: 10px !default;

//== z-indexes

$z-index-modal-backdrop: 1001 !default;
$z-index-modal: 1002 !default;

//== Buttons

$button-font-weight: $font-weight-bold !default;

$button-default-color: $text-color !default;
$button-default-background-color: #fff !default;
$button-default-border-color: #d9d9d9 !default;

$button-primary-color: #fff !default;
$button-primary-background-color: $primary-color !default;
$button-primary-border-color: darken($primary-color, 5%) !default;

//== Forms

$input-background-color: #fff !default;
$input-border-color: #c9d0d6 !default;
$input-border-focus-color: #99a2aa !default;
$input-border-radius: $border-radius-base !default;
$input-color: $text-color !default;

$cursor-disabled: not-allowed !default; // for forms and buttons

//== Dropdowns

$caret-width-base: 4px !default;

$dropdown-background-color: #fff !default;
$dropdown-border-color: rgba(0, 0, 0, .15) !default;

$dropdown-link-color: $text-color !default;
$dropdown-link-hover-color: darken($text-color, 5%) !default;
$dropdown-link-hover-background-color: #e9e9e9 !default;

//== Tables

$table-border-color: #e8e8e8 !default;
$table-cell-padding: 8px !default;
$table-condensed-cell-padding: 5px !default;

//== Badges

$badge-color: #fff !default;
$badge-background-color: rgba(0, 0, 0, 0.35) !default;

$badge-border-radius: 10px !default;
$badge-font-weight: $font-weight-normal !default;
$badge-line-height: 1 !default;

//== Breadcrumbs

$breadcrumb-color: #8a949e !default;
$breadcrumb-separator-color: #aab2ba !default;
$breadcrumb-separator: "/" !default;

//== Flash Messages

$flash-message-font-weight: $font-weight-bold !default;
$flash-message-padding: 12px $horizontal-page-margin !default;

$flash-message-default-background-color: #f7f1d3 !default;
$flash-message-default-text-color: #cb9810 !default;

$flash-message-notice-background-color: #ccdfcd !default;
$flash-message-notice-text-color: #416347 !default;

$flash-message-error-background-color: #f1dcdc !default;
$flash-message-error-text-color: #b33c33 !default;

//== Modals

$modal-content-padding: 15px !default;
$modal-heading-padding: 10px 15px !default;

$modal-background-color: #fff !default;
$modal-backdrop-background-color: rgba(0, 0, 0, 0.5) !default;
$modal-heading-border-color: #eee !default;

//== Navbar

$navbar-border-radius: $border-radius-base !default;
$navbar-padding-horizontal: 10px !default;
$navbar-padding-vertical: 10px !default;

$navbar-color: #fff !default;
$navbar-background-color: lighten($primary-color, 5%) !default;

$navbar-link-color: #fff !default;
$navbar-link-hover-color: #fff !default;
$navbar-link-hover-background-color: lighten($primary-color, 12%) !default;
$navbar-link-active-color: #fff !default;
$navbar-link-active-background-color: lighten($primary-color, 12%) !default;

//== Panels

$panel-background-color: #f8f8f8 !default;
$panel-body-padding: 15px !default;
$panel-heading-background-color: #e6e6e6 !default;
$panel-heading-padding: 10px 15px !default;
$panel-border-radius: $border-radius-base !default;

//== Status Tags

$status-tag-border-radius: $border-radius-base !default;
$status-tag-padding: 0.2em 0.5em !default;

$status-tag-color: #fff !default;
$status-tag-no-background-color: #777 !default;
$status-tag-yes-background-color: #6090DB !default;

//== Tabs

$tabs-border-color: #d3d3d3 !default;

$tabs-link-hover-background-color: darken(#fff, 10%) !default;

$tabs-active-link-hover-background-color: #fff !default;
$tabs-active-link-hover-border-color: $tabs-border-color !default;
$tabs-active-link-hover-color: $text-color !default;

//== Title Bar

$title-bar-background-color: #eaebec !default;
$title-bar-color: $text-color !default;

$title-bar-heading-font-size: 1.9em !default;

//== Typography

$text-muted-color: #9aa2aa !default;
$hr-border-color: darken($body-background-color, 15%) !default;
$blockquote-color: lighten($text-color, 35%) !default;
