.navbar.navbar-inverse  {

  .brand {
    font-size: $baseFontSize + 3;
  }

  .brand,
  .nav > li > a,
  .navbar-text {
    text-shadow: #000000 0 1px 0;

    a { 
      color: $navbarInverseLinkColor;
    }
  }

}
