<% if flash_messages.present? %>
  <div class="px-2.5 lg:px-5 mb-8">
    <% flash_messages.each do |type, message| %>
      <% if type == "error" %>
        <div class="flex items-center gap-3 p-4 mb-2 rounded-lg bg-red-50 text-red-800 dark:bg-red-800 dark:text-red-300">
          <svg class="w-5 h-5 shrink-0 text-red-400 dark:text-red-300" aria-hidden="true"><use href="#circle-exclamation"></use></svg>
          <%= message %>
        </div>
      <% elsif type == "alert" %>
        <div class="flex items-center gap-3 p-4 mb-2 rounded-lg bg-yellow-50 text-yellow-800 dark:bg-yellow-800 dark:text-yellow-300">
          <svg class="w-5 h-5 shrink-0 rtl:-scale-x-100 text-yellow-400 dark:text-yellow-300" aria-hidden="true"><use href="#circle-info"></use></svg>
          <%= message %>
        </div>
      <% elsif type == "notice" %>
        <div class="flex items-center gap-3 p-4 mb-2 rounded-lg bg-green-50 text-green-800 dark:bg-green-800 dark:text-green-300">
          <svg class="w-5 h-5 shrink-0 rtl:-scale-x-100 text-green-400 dark:text-green-300" aria-hidden="true"><use href="#circle-check"></use></svg>
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
