<div class="page-footer">
  <%= I18n.t(
        "active_admin.powered_by",
        active_admin: link_to("Active Admin", "https://activeadmin.info"),
        version: ActiveAdmin::VERSION
      ).html_safe %>
</div>
