ul.breadcrumb {
  font-size:0.8em;
  text-transform: uppercase;
  font-weight:normal;
  padding:0; 
  margin: 0 0 -5px;
  background:none;

  li {
    a, a:link, a:visited, a:active {
      color: #8a949e ;
      text-decoration: none;
    }

    a:hover { text-decoration: underline; }

    .breadcrumb_sep {
      margin: 0 2px;
      color: #aab2ba;
    }
  }
}
