#footer {
  padding: 30px 30px;
  font-size: 0.8em;
  clear: both;

  p {
    padding-top: 10px
  }
}

// -------------------------------------- Index Footer (Under Table)
#index_footer {
  padding-top: 5px;
  text-align: right;
  font-size: 0.85em;
  @include clearfix;
}

.index_content { clear: both; }
