#active_admin_content {
  @include clearfix;
  padding: $horizontal-page-margin;

  // so index table and filters scroll horizontally
  &.with_sidebar {
    display: table;
    width: 100%;
  }
}

#main_content_wrapper {
  float: left;
  width: 100%;
}

#main_content {
  margin-right: $sidebar-width + ($panel-body-padding * 2);
}

.without_sidebar #main_content {
  margin-right: 0;
}

#sidebar {
  float: left;
  margin-left: -$sidebar-width;
  width: $sidebar-width;
}
