#active_admin_content {
  @include clearfix;
  padding: $horizontal-page-margin;
}

#main_content_wrapper {
  float: left;
  width: 100%;
}

#main_content{
  margin-right: $sidebar-width + $horizontal-page-margin;
}

.without_sidebar #main_content {
  margin-right: 0;
}

#sidebar {
  float: left;
  margin-left: -$sidebar-width;
  width: $sidebar-width;
}
