#title_bar {
  @include section-header;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
  display: table;
  border-bottom-color: #EEE;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 10px $horizontal-page-margin;
  z-index: 800;
  @include clearfix;

  #titlebar_left, #titlebar_right {
    height: 50px;
    vertical-align: middle;
    display: table-cell;
  }

  #titlebar_right {
    text-align: right;
  }

  h2 {
    margin: 0;
    padding: 0;
    font-size: 2.6em;
    line-height: 100%;
    font-weight: bold;
  }

  .action_items {
    span.action_item {
      & > a, & > .dropdown_menu > a {
        @include light-button;

        & {
          padding: 12px 17px 10px;
          margin: 0px;
        }
      }
    }
  }
}
