.title-bar {
  background-color: $title-bar-background-color;
  color: $title-bar-color;
  display: table;
  padding: 10px $horizontal-page-margin;
  width: 100%;
}

.title-bar-header,
.title-bar-actions {
  display: table-cell;
  vertical-align: middle;
}

.title-bar-actions {
  text-align: right;
}

.title-bar-heading {
  font-size: $title-bar-heading-font-size;
  margin: 0;
}
