<!-- Main modal -->
<div id="starred-batch-action-modal" tabindex="-1" aria-hidden="true"
  class="fixed inset-bs-0 inset-s-0 inset-e-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full"
  data-batch-action-modal>
  <div class="relative w-full max-w-md max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-800 dark:border dark:border-white/10">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5">
        <h3 class="text-xl font-medium text-gray-900 dark:text-white">Toggle Starred</h3>
        <button type="button" class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="starred-batch-action-modal">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
            </svg>
            <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-4 md:p-5">
        <%= form_tag false, "data-batch-action-form": "" do %>
          <div class="pb-6 flex items-center gap-2">
            <input name="starred" id="starred-checkbox" type="checkbox" value="true" />
            <label for="starred-checkbox" class="text-gray-900 dark:text-gray-100">Starred</label>
          </div>
          <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-hidden focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Submit
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
