/* Active Admin CSS */
@import url(normalize.css);
html {
  font-size: 100.01%; }

body {
  font-size: 75%;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #5E6469; }
  h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
    margin: 0; }

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em; }

h2 {
  font-size: 2em;
  margin-bottom: 0.75em; }

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em; }

h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em; }

h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em; }

h6 {
  font-size: 1em;
  font-weight: bold; }

p {
  margin: 0 0 1.5em; }
  p .left {
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0; }
  p .right {
    margin: 1.5em 0 1.5em 1.5em;
    padding: 0; }

.left {
  float: left !important; }

.right {
  float: right !important; }

blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic; }

strong, dfn {
  font-weight: bold; }

em, dfn {
  font-style: italic; }

sup, sub {
  line-height: 0; }

abbr,
acronym {
  border-bottom: 1px dotted #666; }

address {
  margin: 0 0 1.5em;
  font-style: italic; }

del {
  color: #666; }

pre {
  margin: 1.5em 0;
  white-space: pre; }

pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5; }

li ul,
li ol {
  margin: 0; }

ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em; }

ul {
  list-style-type: disc; }

ol {
  list-style-type: decimal; }

dl {
  margin: 0 0 1.5em 0; }

dl dt {
  font-weight: bold; }

dd {
  margin-left: 1.5em; }

table {
  margin-bottom: 1.4em;
  width: 100%; }

th {
  font-weight: bold; }

thead th {
  background: #c3d9ff; }

th, td, caption {
  padding: 4px 10px 4px 5px; }

.small {
  font-size: .8em;
  margin-bottom: 1.875em;
  line-height: 1.875em; }

.large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em; }

.hide {
  display: none; }

.quiet {
  color: #666; }

.loud {
  color: #000; }

.highlight {
  background: #ff0; }

.added {
  background: #060;
  color: #fff; }

.removed {
  background: #900;
  color: #fff; }

.first {
  margin-left: 0;
  padding-left: 0; }

.last {
  margin-right: 0;
  padding-right: 0; }

.top {
  margin-top: 0;
  padding-top: 0; }

.bottom {
  margin-bottom: 0;
  padding-bottom: 0; }

#header {
  background-color: #6a7176;
  background-image: linear-gradient(180deg, #6a7176, #4d5256);
  border-bottom: 1px solid #44484b;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
  text-shadow: #000 0 1px 0;
  display: table;
  height: 20px;
  width: 100%;
  overflow: visible;
  position: inherit;
  padding: 5px 0;
  z-index: 900; }
  #header h1 {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
    color: #cdcdcd;
    margin-right: 20px;
    margin-bottom: 0px;
    padding: 3px 30px 0 30px;
    font-size: 1.3em;
    font-weight: normal;
    line-height: 1.2; }
    #header h1 a {
      text-decoration: none; }
      #header h1 a:hover {
        color: #fff; }
    #header h1 img {
      position: relative;
      top: -2px; }
  #header a, #header a:link {
    color: #cdcdcd; }
  #header .header-item {
    top: 2px;
    position: relative;
    height: 20px; }
  #header ul.tabs {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    margin: 0;
    padding: 0; }
    #header ul.tabs > li {
      display: inline-block;
      margin-right: 4px;
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 1.0em;
      position: relative;
      /* Hover on li, display the ul */
      /* Drop down menus */ }
      #header ul.tabs > li a {
        text-decoration: none;
        padding: 6px 10px 4px 10px;
        position: relative;
        border-radius: 10px; }
      #header ul.tabs > li.current > a {
        background: #7b8389;
        color: #fff; }
      #header ul.tabs > li.has_nested > a {
        background: image-url("../images/nested_menu_arrow.gif") no-repeat calc(100% - 7px) 50%;
        padding-right: 20px; }
      #header ul.tabs > li.has_nested.current > a {
        background: #7b8389 image-url("../images/nested_menu_arrow_dark.gif") no-repeat calc(100% - 7px) 50%;
        padding-right: 20px; }
      #header ul.tabs > li:hover > a {
        background: #7b8389;
        color: #fff; }
      #header ul.tabs > li.has_nested:hover > a {
        border-radius: 0;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom: 5px solid #7b8389;
        background: #7b8389 image-url("../images/nested_menu_arrow_dark.gif") no-repeat calc(100% - 7px) 50%;
        z-index: 1020; }
      #header ul.tabs > li:hover ul {
        display: block; }
      #header ul.tabs > li ul {
        background: #7b8389;
        border-top-right-radius: 10px;
        border-top-left-radius: 0;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        box-shadow: 0 1px 3px #444;
        position: absolute;
        width: 120%;
        min-width: 175px;
        max-width: calc(100% + 20px);
        margin-top: 5px;
        float: left;
        display: none;
        padding: 3px 0px 5px 0;
        list-style: none;
        z-index: 1010; }
        #header ul.tabs > li ul li {
          margin: 0px; }
          #header ul.tabs > li ul li a {
            background: none;
            display: block; }
            #header ul.tabs > li ul li a:hover {
              color: #fff;
              background: none; }
          #header ul.tabs > li ul li.current a {
            border-radius: 0; }
  #header #tabs {
    width: 100%; }
  #header #utility_nav {
    color: #aaa;
    display: table-cell;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    padding-right: 26px;
    text-align: right; }
    #header #utility_nav a {
      text-decoration: none; }
    #header #utility_nav a:hover {
      color: #fff; }
    #header #utility_nav li {
      display: inline; }

form {
  /* Reset margins & Padding */
  /* Nested Fieldsets and Legends */
  /* Text Fields */
  /* semantic_errors */
  /* Buttons */ }
  form ul, form ol, form li, form fieldset, form legend, form input, form textarea, form select, form p {
    margin: 0;
    padding: 0; }
  form ol, form ul {
    list-style: none; }
  form fieldset {
    border: 0;
    padding: 10px 0;
    margin-bottom: 20px; }
    form fieldset.inputs {
      background: #f4f4f4;
      border-radius: 4px;
      box-shadow: inset 0 1px 4px #ddd; }
    form fieldset legend {
      width: 100%; }
      form fieldset legend span {
        display: block;
        background-color: #efefef;
        background-image: linear-gradient(180deg, #efefef, #dfe1e2);
        text-shadow: #fff 0 1px 0;
        border: solid 1px #cdcdcd;
        border-color: #d4d4d4;
        border-top-color: #e6e6e6;
        border-right-color: #d4d4d4;
        border-bottom-color: #cdcdcd;
        border-left-color: #d4d4d4;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px #FFF inset;
        font-size: 1em;
        font-weight: bold;
        line-height: 18px;
        margin-bottom: 0.5em;
        color: #5E6469;
        padding: 5px 10px 3px 10px; }
    form fieldset ol > li {
      padding: 10px; }
      form fieldset ol > li label {
        display: block;
        width: 20%;
        float: left;
        font-size: 1.0em;
        font-weight: bold;
        color: #5E6469; }
        form fieldset ol > li label abbr {
          border: none;
          color: #aaa; }
    form fieldset ol > li.has_many_container {
      padding: 20px 10px; }
      form fieldset ol > li.has_many_container h3 {
        font-size: 12px;
        font-weight: bold; }
      form fieldset ol > li.has_many_container .has_many_fields {
        margin: 10px 0; }
    form fieldset ol > li > li label {
      line-height: 100%;
      padding-top: 0; }
      form fieldset ol > li > li label input {
        line-height: 100%;
        vertical-align: middle;
        margin-top: -0.1em; }
  form .has_many_fields {
    position: relative; }
  form .has_many_container .handle {
    position: absolute;
    top: calc(50% - 3em / 2);
    right: 2px;
    padding: 0;
    cursor: move; }
  form .has_many_container.ui-sortable .has_many_container {
    margin-right: 2em; }
  form .ui-sortable input[type=text], form .ui-sortable input[type=password], form .ui-sortable input[type=email], form .ui-sortable input[type=number], form .ui-sortable input[type=url], form .ui-sortable input[type=tel], form .ui-sortable textarea {
    width: calc(80% - 22px - 2em - 1px); }
  form fieldset > ol > li fieldset {
    position: relative;
    padding: 0;
    margin-bottom: 0; }
    form fieldset > ol > li fieldset:not(.inputs) ol {
      float: left;
      width: 74%;
      margin: 0;
      padding: 0 0 0 20%; }
      form fieldset > ol > li fieldset:not(.inputs) ol li {
        padding: 0;
        border: 0; }
    form fieldset > ol > li fieldset.inputs ol {
      float: left;
      width: 100%;
      margin: 0; }
  form input[type=text],
  form input[type=password],
  form input[type=email],
  form input[type=number],
  form input[type=url],
  form input[type=tel],
  form input[type=date],
  form input[type=time],
  form textarea {
    width: calc(80% - 22px);
    border: 1px solid #c9d0d6;
    border-radius: 3px;
    font-size: 0.95em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: none;
    padding: 8px 10px 7px; }
    form input[type=text]:focus,
    form input[type=password]:focus,
    form input[type=email]:focus,
    form input[type=number]:focus,
    form input[type=url]:focus,
    form input[type=tel]:focus,
    form input[type=date]:focus,
    form input[type=time]:focus,
    form textarea:focus {
      border: 1px solid #99a2aa;
      box-shadow: 0 0 4px #99a2aa; }
  form input[type=date] {
    width: calc(100% - 22px); }
  form fieldset > ol > li {
    /* Hints */
    /* Date and Time Fields */
    /* Check Boxes or Radio fields */
    /* Boolean Field */
    /* Hidden fields */
    /* Errors */ }
    form fieldset > ol > li p.inline-hints {
      font-size: 0.95em;
      font-style: italic;
      color: #666;
      margin: 0.5em 0 0 20%; }
    form fieldset > ol > li.date_select fieldset ol li, form fieldset > ol > li.time_select fieldset ol li, form fieldset > ol > li.datetime_select fieldset ol li {
      float: left;
      width: auto;
      margin: 0 0.5em 0 0; }
      form fieldset > ol > li.date_select fieldset ol li label, form fieldset > ol > li.time_select fieldset ol li label, form fieldset > ol > li.datetime_select fieldset ol li label {
        display: none; }
      form fieldset > ol > li.date_select fieldset ol li input, form fieldset > ol > li.time_select fieldset ol li input, form fieldset > ol > li.datetime_select fieldset ol li input {
        display: inline;
        margin: 0;
        padding: 0; }
    form fieldset > ol > li.check_boxes fieldset ol, form fieldset > ol > li.radio fieldset ol {
      margin-bottom: -0.6em; }
      form fieldset > ol > li.check_boxes fieldset ol li, form fieldset > ol > li.radio fieldset ol li {
        margin: 0.1em 0 0.5em 0; }
        form fieldset > ol > li.check_boxes fieldset ol li label, form fieldset > ol > li.radio fieldset ol li label {
          float: none;
          width: 100%; }
          form fieldset > ol > li.check_boxes fieldset ol li label input, form fieldset > ol > li.radio fieldset ol li label input {
            margin-right: 0.2em; }
    form fieldset > ol > li.boolean {
      min-height: 1.1em; }
      form fieldset > ol > li.boolean label {
        width: 80%;
        padding-left: 20%;
        padding-right: 10px;
        text-transform: none !important;
        font-weight: normal; }
        form fieldset > ol > li.boolean label input {
          margin: 0 0.5em 0 0.2em; }
    form fieldset > ol > li.hidden {
      padding: 0; }
    form fieldset > ol > li p.inline-errors {
      color: #932419;
      font-weight: bold;
      margin: 0.3em 0 0 20%; }
    form fieldset > ol > li ul.errors {
      color: #932419;
      margin: 0.5em 0 0 20%;
      list-style: square; }
      form fieldset > ol > li ul.errors li {
        padding: 0;
        border: none;
        display: list-item; }
    form fieldset > ol > li.error input[type=text], form fieldset > ol > li.error input[type=password], form fieldset > ol > li.error input[type=email], form fieldset > ol > li.error input[type=number], form fieldset > ol > li.error input[type=url], form fieldset > ol > li.error input[type=tel], form fieldset > ol > li.error textarea {
      border: 1px solid #932419; }
  form ul.errors {
    background: #fae6e4;
    border-radius: 4px;
    color: #932419;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px;
    list-style: square; }
    form ul.errors li {
      margin-left: 15px;
      padding: 0;
      border: none;
      display: list-item; }
  form input[type=submit], form input[type=button], form button {
    border-radius: 200px;
    display: inline-block;
    font-weight: bold;
    font-size: 1.0em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 12px;
    margin-right: 3px;
    padding: 7px 16px 6px;
    text-decoration: none;
    background-color: #838a90;
    background-image: linear-gradient(180deg, #838a90, #414549);
    text-shadow: #000 0 1px 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0px rgba(255, 255, 255, 0.2) inset;
    border: solid 1px #484e53;
    border-color: #484e53;
    border-top-color: #616a71;
    border-right-color: #484e53;
    border-bottom-color: #363b3f;
    border-left-color: #484e53;
    color: #efefef;
    cursor: pointer; }
    form input[type=submit].disabled, form input[type=button].disabled, form button.disabled {
      opacity: 0.5;
      cursor: default; }
    form input[type=submit]:not(.disabled):hover, form input[type=button]:not(.disabled):hover, form button:not(.disabled):hover {
      background-color: #8b9297;
      background-image: linear-gradient(180deg, #8b9297, #484d51); }
    form input[type=submit]:not(.disabled):active, form input[type=button]:not(.disabled):active, form button:not(.disabled):active {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 0px #FFF;
      background-color: #71797f;
      background-image: linear-gradient(180deg, #71797f, #35383b); }
  form .buttons, form .actions {
    margin-top: 15px; }
    form .buttons input[type=submit], form .buttons input[type=button], form .buttons button, form .actions input[type=submit], form .actions input[type=button], form .actions button {
      margin-right: 10px; }
  form .actions .create_another {
    float: none;
    margin-bottom: 10px; }
    form .actions .create_another label {
      float: none;
      display: inline; }
  form fieldset.buttons li, form fieldset.actions li {
    float: left;
    padding: 0; }
    form fieldset.buttons li.cancel a, form fieldset.actions li.cancel a {
      border-radius: 200px;
      display: inline-block;
      font-weight: bold;
      font-size: 1.0em;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      line-height: 12px;
      margin-right: 3px;
      padding: 7px 16px 6px;
      text-decoration: none;
      background-color: #FFFFFF;
      background-image: linear-gradient(180deg, #FFFFFF, #E7E7E7);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
      border: solid 1px #c7c7c7;
      border-color: #c7c7c7;
      border-top-color: #d3d3d3;
      border-right-color: #c7c7c7;
      border-bottom-color: #c2c2c2;
      border-left-color: #c7c7c7;
      text-shadow: #fff 0 1px 0;
      color: #5E6469; }
      form fieldset.buttons li.cancel a.disabled, form fieldset.actions li.cancel a.disabled {
        opacity: 0.5;
        cursor: default; }
      form fieldset.buttons li.cancel a:not(.disabled):hover, form fieldset.actions li.cancel a:not(.disabled):hover {
        background-color: #FFFFFF;
        background-image: linear-gradient(180deg, #FFFFFF, #F1F1F1); }
      form fieldset.buttons li.cancel a:not(.disabled):active, form fieldset.actions li.cancel a:not(.disabled):active {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22) inset, 0 1px 0 0px #EEE;
        border-color: #b9b9b9;
        border-top-color: #c2c2c2;
        border-right-color: #b9b9b9;
        border-bottom-color: #b7b7b7;
        border-left-color: #b9b9b9;
        background-color: #F3F3F3;
        background-image: linear-gradient(180deg, #F3F3F3, #D8D8D8); }

.sidebar_section label {
  display: block;
  text-transform: uppercase;
  color: #5E6469;
  font-size: 0.9em;
  font-weight: bold; }

.sidebar_section select {
  width: 240px; }

.sidebar_section input[type=text], .sidebar_section input[type=password], .sidebar_section input[type=email], .sidebar_section input[type=url], .sidebar_section input[type=tel], .sidebar_section textarea {
  width: 220px; }

form.filter_form .filter_form_field {
  margin-bottom: 10px;
  clear: both; }
  form.filter_form .filter_form_field.select_and_search input[type=text] {
    margin-left: 16px;
    width: 88px; }
  form.filter_form .filter_form_field.select_and_search select {
    width: 108px; }
  form.filter_form .filter_form_field.filter_check_boxes label {
    margin-bottom: 3px; }
  form.filter_form .filter_form_field.filter_check_boxes fieldset {
    margin-bottom: 0px;
    padding-bottom: 0px; }
  form.filter_form .filter_form_field.filter_check_boxes .check_boxes_wrapper label {
    font-weight: normal;
    margin-bottom: 3px;
    text-transform: none;
    font-size: 1.0em; }
    form.filter_form .filter_form_field.filter_check_boxes .check_boxes_wrapper label input {
      vertical-align: baseline; }
  form.filter_form .filter_form_field.filter_date_range input[type=text] {
    box-sizing: border-box;
    width: 114px; }
    form.filter_form .filter_form_field.filter_date_range input[type=text] + input {
      margin-left: 6px; }

form.filter_form a.clear_filters_btn {
  border-radius: 200px;
  display: inline-block;
  font-weight: bold;
  font-size: 1.0em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 12px;
  margin-right: 3px;
  padding: 7px 16px 6px;
  text-decoration: none;
  background-color: #FFFFFF;
  background-image: linear-gradient(180deg, #FFFFFF, #E7E7E7);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
  border: solid 1px #c7c7c7;
  border-color: #c7c7c7;
  border-top-color: #d3d3d3;
  border-right-color: #c7c7c7;
  border-bottom-color: #c2c2c2;
  border-left-color: #c7c7c7;
  text-shadow: #fff 0 1px 0;
  color: #5E6469; }
  form.filter_form a.clear_filters_btn.disabled {
    opacity: 0.5;
    cursor: default; }
  form.filter_form a.clear_filters_btn:not(.disabled):hover {
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #FFFFFF, #F1F1F1); }
  form.filter_form a.clear_filters_btn:not(.disabled):active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22) inset, 0 1px 0 0px #EEE;
    border-color: #b9b9b9;
    border-top-color: #c2c2c2;
    border-right-color: #b9b9b9;
    border-bottom-color: #b7b7b7;
    border-left-color: #b9b9b9;
    background-color: #F3F3F3;
    background-image: linear-gradient(180deg, #F3F3F3, #D8D8D8); }

.comments .active_admin_comment {
  clear: both;
  margin-top: 10px;
  margin-bottom: 40px;
  max-width: 700px; }
  .comments .active_admin_comment .active_admin_comment_meta {
    width: 130px;
    float: left;
    overflow: hidden;
    font-size: 0.9em;
    color: #767e84; }
    .comments .active_admin_comment .active_admin_comment_meta .active_admin_comment_author {
      font-size: 1.2em;
      font-weight: bold;
      margin: 0;
      color: #5E6469; }
  .comments .active_admin_comment .active_admin_comment_body {
    margin-left: 150px; }

.comments form.active_admin_comment {
  margin: 0;
  padding: 0;
  margin-left: 150px; }
  .comments form.active_admin_comment fieldset.inputs {
    margin: 0;
    padding: 0;
    background: none;
    box-shadow: none; }
  .comments form.active_admin_comment li {
    padding: 0; }
  .comments form.active_admin_comment fieldset.buttons {
    padding: 0;
    margin-top: 5px; }

body.logged_in .flash {
  background-color: #f7f1d3;
  background-image: linear-gradient(180deg, #f7f1d3, #f5edc5);
  text-shadow: #fafafa 0 1px 0;
  border-bottom: 1px solid #eee098;
  color: #cb9810;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1.0em;
  padding: 13px 30px 11px;
  position: relative; }
  body.logged_in .flash.flash_notice {
    background-color: #dce9dd;
    background-image: linear-gradient(180deg, #dce9dd, #ccdfcd);
    border-bottom: 1px solid #adcbaf;
    color: #416347; }
  body.logged_in .flash.flash_error {
    background-color: #f5e4e4;
    background-image: linear-gradient(180deg, #f5e4e4, #f1dcdc);
    border-bottom: 1px solid #e0c2c0;
    color: #b33c33; }

body.logged_out .flash {
  box-shadow: none;
  text-shadow: #fff 0 1px 0;
  background: none;
  color: #666;
  font-weight: bold;
  line-height: 1.0em;
  padding: 0;
  margin-bottom: 8px; }

.ui-datepicker {
  background: #fff;
  background-clip: padding-box;
  color: #fff;
  display: none;
  margin-top: 2px;
  padding: 0;
  text-align: center;
  width: 160px; }
  .ui-datepicker a {
    text-decoration: none; }
    .ui-datepicker a:hover {
      cursor: pointer; }
  .ui-datepicker .ui-datepicker-header {
    height: 14px;
    background-color: #6a7176;
    background-image: linear-gradient(180deg, #6a7176, #4d5256);
    border-bottom: 1px solid #44484b;
    padding: 12px 5px 7px 4px;
    margin: 0px 0px 2px 2px;
    width: 147px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    position: relative;
    z-index: 2000; }
    .ui-datepicker .ui-datepicker-header:before {
      content: "";
      position: absolute;
      right: 45%;
      top: -6px;
      width: 0px;
      height: 0px;
      border-left: 8.5px solid rgba(0, 0, 0, 0);
      border-right: 8.5px solid rgba(0, 0, 0, 0);
      border-bottom: 10px solid #676e73; }
    .ui-datepicker .ui-datepicker-header .ui-datepicker-title {
      text-shadow: #000 0 1px 0;
      color: #fff;
      display: block;
      font-size: 1.1em;
      font-weight: bold;
      line-height: 0.8em;
      text-align: center; }
      .ui-datepicker .ui-datepicker-header .ui-datepicker-title .ui-datepicker-month {
        margin: -4px 0 0 0; }
      .ui-datepicker .ui-datepicker-header .ui-datepicker-title .ui-datepicker-year {
        margin: -4px 0 0 0; }
    .ui-datepicker .ui-datepicker-header a {
      color: #fff;
      display: block;
      height: 19px;
      margin-top: -4px;
      width: 10px; }
      .ui-datepicker .ui-datepicker-header a.ui-datepicker-prev {
        float: left;
        width: 0;
        height: 0;
        margin: 0px 0px 0px 4px;
        border-top: 5px solid transparent;
        border-right: 5px solid white;
        border-bottom: 5px solid transparent; }
      .ui-datepicker .ui-datepicker-header a.ui-datepicker-next {
        float: right;
        width: 0;
        height: 0;
        margin: 0px 4px 0px 0px;
        border-top: 5px solid transparent;
        border-left: 5px solid white;
        border-bottom: 5px solid transparent; }
      .ui-datepicker .ui-datepicker-header a span {
        display: none; }
  .ui-datepicker table.ui-datepicker-calendar {
    border-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.26);
    background-color: #f4f4f4;
    border: solid 1px #63686e;
    left: 2px;
    margin-bottom: 0px;
    position: relative;
    top: -2px;
    width: 156px; }
    .ui-datepicker table.ui-datepicker-calendar td, .ui-datepicker table.ui-datepicker-calendar th {
      padding: 0px;
      text-align: center; }
    .ui-datepicker table.ui-datepicker-calendar thead th {
      background-color: #dbdddf;
      color: #333333;
      font-weight: normal;
      font-size: 0.8em;
      padding-top: 1px; }
    .ui-datepicker table.ui-datepicker-calendar tbody {
      color: #666666; }
      .ui-datepicker table.ui-datepicker-calendar tbody td {
        border: none;
        height: 24px;
        width: 22px; }
        .ui-datepicker table.ui-datepicker-calendar tbody td a {
          border-radius: 3px;
          color: #666666;
          font-weight: bold;
          font-size: 0.85em;
          padding: 4px; }
          .ui-datepicker table.ui-datepicker-calendar tbody td a.ui-state-active {
            background-color: #5a5f64;
            color: #fff; }
            .ui-datepicker table.ui-datepicker-calendar tbody td a.ui-state-active.ui-state-hover {
              background-color: #5a5f64;
              color: #fff; }
          .ui-datepicker table.ui-datepicker-calendar tbody td a.ui-state-hover {
            background-color: #eceef0; }
          .ui-datepicker table.ui-datepicker-calendar tbody td a.ui-state-highlight {
            background-color: #dbdddf; }

table tr td {
  vertical-align: top; }

table tr th {
  text-align: left; }

table.index_table {
  width: 100%;
  margin-bottom: 10px;
  border: 0;
  border-spacing: 0; }
  table.index_table th {
    background-color: #efefef;
    background-image: linear-gradient(180deg, #efefef, #dfe1e2);
    text-shadow: #fff 0 1px 0;
    border: solid 1px #cdcdcd;
    border-color: #d4d4d4;
    border-top-color: #e6e6e6;
    border-right-color: #d4d4d4;
    border-bottom-color: #cdcdcd;
    border-left-color: #d4d4d4;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px #FFF inset;
    font-size: 1em;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 0.5em;
    color: #5E6469;
    padding: 5px 10px 3px 10px;
    border-right: none;
    padding-left: 12px;
    padding-right: 12px; }
    table.index_table th a, table.index_table th a:link, table.index_table th a:visited {
      color: #5E6469;
      text-decoration: none;
      display: block;
      white-space: nowrap; }
    table.index_table th.sortable a {
      background: image-url("../images/orderable.png") no-repeat 0 4px;
      padding-left: 13px; }
    table.index_table th.sorted-asc a {
      background-position: 0 -27px; }
    table.index_table th.sorted-desc a {
      background-position: 0 -56px; }
    table.index_table th.sorted-asc, table.index_table th.sorted-desc {
      background-color: #e2e2e2;
      background-image: linear-gradient(180deg, #e2e2e2, #d2d4d6); }
    table.index_table th:last-child {
      border-right: solid 1px #d4d4d4; }
  table.index_table tr.even td {
    background: #f4f5f5; }
  table.index_table tr.selected td {
    background: #d9e4ec; }
  table.index_table td {
    padding: 10px 12px 8px 12px;
    border-bottom: 1px solid #e8e8e8;
    vertical-align: top; }

.panel_contents table {
  margin-top: 5px; }
  .panel_contents table th {
    padding-top: 10px;
    background: none;
    color: #5E6469;
    box-shadow: none;
    text-shadow: #fff 0 1px 0;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc; }
  .panel_contents table tr.odd td {
    background: #ecedee; }
  .panel_contents table tr.even td {
    background: #f4f5f5; }

.attributes_table {
  overflow: hidden; }

.attributes_table table col.even {
  background: #f4f5f5; }

.attributes_table table col.odd {
  background: #ecedee; }

.attributes_table table th, .attributes_table table td {
  padding: 8px 12px 6px 12px;
  vertical-align: top;
  border-bottom: 1px solid #e8e8e8; }

.attributes_table table th {
  box-shadow: none;
  background: none;
  width: 150px;
  font-size: 0.9em;
  padding-left: 0;
  text-transform: uppercase;
  color: #5E6469;
  text-shadow: #fff 0 1px 0; }

.attributes_table table td .empty {
  color: #bbb;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.2em; }

.sidebar_section .attributes_table th {
  width: 50px; }

#collection_selection_toggle_panel:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

#collection_selection_toggle_panel > .resource_selection_toggle_cell {
  float: left; }

.ui-widget-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1001; }

.ui-dialog {
  position: fixed;
  z-index: 1002;
  background: #f4f4f4;
  border-radius: 4px;
  box-shadow: inset 0 1px 4px #ddd;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px; }
  .ui-dialog .ui-dialog-titlebar {
    background-color: #efefef;
    background-image: linear-gradient(180deg, #efefef, #dfe1e2);
    text-shadow: #fff 0 1px 0;
    border: solid 1px #cdcdcd;
    border-color: #d4d4d4;
    border-top-color: #e6e6e6;
    border-right-color: #d4d4d4;
    border-bottom-color: #cdcdcd;
    border-left-color: #d4d4d4;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px #FFF inset;
    font-size: 1em;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 0.5em;
    color: #5E6469;
    padding: 5px 10px 3px 10px; }
    .ui-dialog .ui-dialog-titlebar span {
      font-size: 1.1em; }
  .ui-dialog ul {
    list-style-type: none; }
  .ui-dialog li {
    margin: 10px 0; }
  .ui-dialog label {
    margin-right: 10px; }
  .ui-dialog .ui-dialog-buttonpane, .ui-dialog form {
    padding: 7px 15px 13px; }
  .ui-dialog .ui-dialog-buttonpane button {
    border-radius: 200px;
    display: inline-block;
    font-weight: bold;
    font-size: 1.0em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 12px;
    margin-right: 3px;
    padding: 7px 16px 6px;
    text-decoration: none;
    background-color: #838a90;
    background-image: linear-gradient(180deg, #838a90, #414549);
    text-shadow: #000 0 1px 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0px rgba(255, 255, 255, 0.2) inset;
    border: solid 1px #484e53;
    border-color: #484e53;
    border-top-color: #616a71;
    border-right-color: #484e53;
    border-bottom-color: #363b3f;
    border-left-color: #484e53;
    color: #efefef; }
    .ui-dialog .ui-dialog-buttonpane button.disabled {
      opacity: 0.5;
      cursor: default; }
    .ui-dialog .ui-dialog-buttonpane button:not(.disabled):hover {
      background-color: #8b9297;
      background-image: linear-gradient(180deg, #8b9297, #484d51); }
    .ui-dialog .ui-dialog-buttonpane button:not(.disabled):active {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 0px #FFF;
      background-color: #71797f;
      background-image: linear-gradient(180deg, #71797f, #35383b); }
  .ui-dialog .ui-dialog-buttonpane button:last-child {
    border-radius: 200px;
    display: inline-block;
    font-weight: bold;
    font-size: 1.0em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 12px;
    margin-right: 3px;
    padding: 7px 16px 6px;
    text-decoration: none;
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #FFFFFF, #E7E7E7);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
    border: solid 1px #c7c7c7;
    border-color: #c7c7c7;
    border-top-color: #d3d3d3;
    border-right-color: #c7c7c7;
    border-bottom-color: #c2c2c2;
    border-left-color: #c7c7c7;
    text-shadow: #fff 0 1px 0;
    color: #5E6469; }
    .ui-dialog .ui-dialog-buttonpane button:last-child.disabled {
      opacity: 0.5;
      cursor: default; }
    .ui-dialog .ui-dialog-buttonpane button:last-child:not(.disabled):hover {
      background-color: #FFFFFF;
      background-image: linear-gradient(180deg, #FFFFFF, #F1F1F1); }
    .ui-dialog .ui-dialog-buttonpane button:last-child:not(.disabled):active {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22) inset, 0 1px 0 0px #EEE;
      border-color: #b9b9b9;
      border-top-color: #c2c2c2;
      border-right-color: #b9b9b9;
      border-bottom-color: #b7b7b7;
      border-left-color: #b9b9b9;
      background-color: #F3F3F3;
      background-image: linear-gradient(180deg, #F3F3F3, #D8D8D8); }

.active_admin_dialog.ui-dialog .ui-dialog-titlebar-close {
  display: none; }

.blank_slate_container {
  clear: both;
  text-align: center; }
  .blank_slate_container .blank_slate {
    border-radius: 3px;
    border: 1px dashed #DADADA;
    color: #AAA;
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    padding: 14px 25px;
    text-align: center; }
    .blank_slate_container .blank_slate small {
      display: block;
      font-size: 0.9em;
      font-weight: normal; }

.admin_dashboard .blank_slate_container .blank_slate {
  margin-top: 40px;
  margin-bottom: 40px; }

.with_sidebar .blank_slate_container .blank_slate {
  margin-top: 80px; }

.breadcrumb {
  display: block;
  font-size: 0.9em;
  font-weight: normal;
  line-height: 1.0em;
  margin-bottom: 12px;
  text-transform: uppercase; }
  .breadcrumb a, .breadcrumb a:link, .breadcrumb a:visited, .breadcrumb a:active {
    color: #8a949e;
    text-decoration: none; }
  .breadcrumb a:hover {
    text-decoration: underline; }
  .breadcrumb .breadcrumb_sep {
    margin: 0 2px;
    color: #aab2ba; }

.dropdown_menu {
  display: inline; }
  .dropdown_menu .dropdown_menu_button {
    border-radius: 200px;
    display: inline-block;
    font-weight: bold;
    font-size: 1.0em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 12px;
    margin-right: 3px;
    padding: 7px 16px 6px;
    text-decoration: none;
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #FFFFFF, #E7E7E7);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
    border: solid 1px #c7c7c7;
    border-color: #c7c7c7;
    border-top-color: #d3d3d3;
    border-right-color: #c7c7c7;
    border-bottom-color: #c2c2c2;
    border-left-color: #c7c7c7;
    text-shadow: #fff 0 1px 0;
    color: #5E6469;
    position: relative;
    padding-right: 22px !important;
    cursor: pointer; }
    .dropdown_menu .dropdown_menu_button.disabled {
      opacity: 0.5;
      cursor: default; }
    .dropdown_menu .dropdown_menu_button:not(.disabled):hover {
      background-color: #FFFFFF;
      background-image: linear-gradient(180deg, #FFFFFF, #F1F1F1); }
    .dropdown_menu .dropdown_menu_button:not(.disabled):active {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22) inset, 0 1px 0 0px #EEE;
      border-color: #b9b9b9;
      border-top-color: #c2c2c2;
      border-right-color: #b9b9b9;
      border-bottom-color: #b7b7b7;
      border-left-color: #b9b9b9;
      background-color: #F3F3F3;
      background-image: linear-gradient(180deg, #F3F3F3, #D8D8D8); }
    .dropdown_menu .dropdown_menu_button:before {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      border-width: 3px 3px 0;
      border-style: solid;
      border-color: #FFF transparent;
      right: 12px;
      top: 45%; }
    .dropdown_menu .dropdown_menu_button:after {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      border-width: 3px 3px 0;
      border-style: solid;
      border-color: #777 transparent;
      right: 12px;
      top: 45%; }
  .dropdown_menu .dropdown_menu_nipple {
    content: "";
    position: absolute;
    top: -6px;
    display: block;
    width: 0;
    height: 0;
    border-width: 0 6px 6px;
    border-style: solid;
    border-color: #545a5e transparent;
    z-index: 100; }
    .dropdown_menu .dropdown_menu_nipple:before {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      border-width: 0 5px 5px;
      border-style: solid;
      border-color: #838a90 transparent;
      left: -5px;
      top: 1px; }
    .dropdown_menu .dropdown_menu_nipple:after {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      border-width: 0 5px 5px;
      border-style: solid;
      border-color: #686e74 transparent;
      left: -5px;
      top: 2px; }
  .dropdown_menu .dropdown_menu_list_wrapper {
    display: inline-block;
    position: absolute;
    background-color: white;
    padding: 2px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, #838a90 0px 1px 0px 0px inset;
    background-color: #5E6469;
    background-color: #686e74;
    background-image: linear-gradient(180deg, #686e74, #52575c);
    border: solid 1px #464a4e;
    border-top-color: #545a5e;
    border-bottom-color: #35383b;
    border-radius: 4px;
    z-index: 2000;
    display: none; }
    .dropdown_menu .dropdown_menu_list_wrapper .dropdown_menu_list {
      display: block;
      background-color: #FFF;
      border: solid 1px #464a4e;
      box-shadow: #6a7176 0px 1px 0px 0px;
      border-radius: 3px;
      margin: 0;
      overflow: hidden;
      padding: 8px;
      list-style-type: none;
      padding: 0; }
      .dropdown_menu .dropdown_menu_list_wrapper .dropdown_menu_list li {
        display: block;
        border-bottom: solid 1px #ebebeb;
        box-sizing: border-box; }
        .dropdown_menu .dropdown_menu_list_wrapper .dropdown_menu_list li a {
          display: block;
          box-sizing: padding-box;
          font-size: 0.95em;
          font-weight: bold;
          padding: 7px 16px 5px;
          text-decoration: none;
          text-align: center;
          white-space: nowrap; }
          .dropdown_menu .dropdown_menu_list_wrapper .dropdown_menu_list li a:hover {
            background-color: #75a1c2;
            background-image: linear-gradient(180deg, #75a1c2, #608cb4);
            text-shadow: #5a83aa 0 1px 0;
            color: #FFF; }
          .dropdown_menu .dropdown_menu_list_wrapper .dropdown_menu_list li a:active {
            background-color: #608cb4;
            background-image: linear-gradient(180deg, #608cb4, #75a1c2);
            color: #FFF; }
        .dropdown_menu .dropdown_menu_list_wrapper .dropdown_menu_list li:first-child a {
          border-top-left-radius: 2px;
          border-top-right-radius: 2px; }
        .dropdown_menu .dropdown_menu_list_wrapper .dropdown_menu_list li:last-child {
          border: none; }
          .dropdown_menu .dropdown_menu_list_wrapper .dropdown_menu_list li:last-child a {
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px; }

a.member_link {
  margin-right: 7px;
  white-space: nowrap; }

a.button, a:link.button, a:visited.button, input[type=submit], input[type=button], button {
  border-radius: 200px;
  display: inline-block;
  font-weight: bold;
  font-size: 1.0em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 12px;
  margin-right: 3px;
  padding: 7px 16px 6px;
  text-decoration: none;
  background-color: #838a90;
  background-image: linear-gradient(180deg, #838a90, #414549);
  text-shadow: #000 0 1px 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0px rgba(255, 255, 255, 0.2) inset;
  border: solid 1px #484e53;
  border-color: #484e53;
  border-top-color: #616a71;
  border-right-color: #484e53;
  border-bottom-color: #363b3f;
  border-left-color: #484e53;
  color: #efefef; }
  a.button.disabled, a:link.button.disabled, a:visited.button.disabled, input[type=submit].disabled, input[type=button].disabled, button.disabled {
    opacity: 0.5;
    cursor: default; }
  a.button:not(.disabled):hover, a:link.button:not(.disabled):hover, a:visited.button:not(.disabled):hover, input[type=submit]:not(.disabled):hover, input[type=button]:not(.disabled):hover, button:not(.disabled):hover {
    background-color: #8b9297;
    background-image: linear-gradient(180deg, #8b9297, #484d51); }
  a.button:not(.disabled):active, a:link.button:not(.disabled):active, a:visited.button:not(.disabled):active, input[type=submit]:not(.disabled):active, input[type=button]:not(.disabled):active, button:not(.disabled):active {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 0px #FFF;
    background-color: #71797f;
    background-image: linear-gradient(180deg, #71797f, #35383b); }

table.index_grid td {
  border: none;
  background: none;
  padding: 0 20px 20px 0;
  margin: 0; }

.columns {
  clear: both;
  padding: 0; }
  .columns .column {
    float: left; }

a, a:link, a:visited {
  color: #38678b;
  text-decoration: underline; }

a:hover {
  text-decoration: none; }

.paginated_collection_contents {
  clear: both; }

.pagination {
  float: right;
  font-size: 0.9em;
  margin-left: 10px; }
  .pagination a {
    border-radius: 200px;
    display: inline-block;
    font-weight: bold;
    font-size: 1.0em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 12px;
    margin-right: 3px;
    padding: 7px 16px 6px;
    text-decoration: none;
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #FFFFFF, #E7E7E7);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
    border: solid 1px #c7c7c7;
    border-color: #c7c7c7;
    border-top-color: #d3d3d3;
    border-right-color: #c7c7c7;
    border-bottom-color: #c2c2c2;
    border-left-color: #c7c7c7;
    text-shadow: #fff 0 1px 0;
    color: #5E6469; }
    .pagination a.disabled {
      opacity: 0.5;
      cursor: default; }
    .pagination a:not(.disabled):hover {
      background-color: #FFFFFF;
      background-image: linear-gradient(180deg, #FFFFFF, #F1F1F1); }
    .pagination a:not(.disabled):active {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22) inset, 0 1px 0 0px #EEE;
      border-color: #b9b9b9;
      border-top-color: #c2c2c2;
      border-right-color: #b9b9b9;
      border-bottom-color: #b7b7b7;
      border-left-color: #b9b9b9;
      background-color: #F3F3F3;
      background-image: linear-gradient(180deg, #F3F3F3, #D8D8D8); }
  .pagination span.page.current {
    border-radius: 200px;
    display: inline-block;
    font-weight: bold;
    font-size: 1.0em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 12px;
    margin-right: 3px;
    padding: 7px 16px 6px;
    text-decoration: none;
    background-color: #838a90;
    background-image: linear-gradient(180deg, #838a90, #414549);
    text-shadow: #000 0 1px 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0px rgba(255, 255, 255, 0.2) inset;
    border: solid 1px #484e53;
    border-color: #484e53;
    border-top-color: #616a71;
    border-right-color: #484e53;
    border-bottom-color: #363b3f;
    border-left-color: #484e53;
    color: #efefef; }
    .pagination span.page.current.disabled {
      opacity: 0.5;
      cursor: default; }
    .pagination span.page.current:not(.disabled):hover {
      background-color: #8b9297;
      background-image: linear-gradient(180deg, #8b9297, #484d51); }
    .pagination span.page.current:not(.disabled):active {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 0px #FFF;
      background-color: #71797f;
      background-image: linear-gradient(180deg, #71797f, #35383b); }
  .pagination a, .pagination span.page.current {
    border-radius: 0px;
    margin-right: 4px;
    padding: 2px 5px; }

.pagination_information {
  float: right;
  margin-bottom: 5px;
  color: #b3bcc1; }
  .pagination_information b {
    color: #5c6469; }

.download_links {
  float: left; }

.pagination_per_page {
  float: right;
  margin-left: 4px; }
  .pagination_per_page select {
    border-radius: 200px;
    display: inline-block;
    font-weight: bold;
    font-size: 1.0em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 12px;
    margin-right: 3px;
    padding: 7px 16px 6px;
    text-decoration: none;
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #FFFFFF, #E7E7E7);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
    border: solid 1px #c7c7c7;
    border-color: #c7c7c7;
    border-top-color: #d3d3d3;
    border-right-color: #c7c7c7;
    border-bottom-color: #c2c2c2;
    border-left-color: #c7c7c7;
    text-shadow: #fff 0 1px 0;
    color: #5E6469;
    border-radius: 0px;
    padding: 1px 5px; }
    .pagination_per_page select.disabled {
      opacity: 0.5;
      cursor: default; }
    .pagination_per_page select:not(.disabled):hover {
      background-color: #FFFFFF;
      background-image: linear-gradient(180deg, #FFFFFF, #F1F1F1); }
    .pagination_per_page select:not(.disabled):active {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22) inset, 0 1px 0 0px #EEE;
      border-color: #b9b9b9;
      border-top-color: #c2c2c2;
      border-right-color: #b9b9b9;
      border-bottom-color: #b7b7b7;
      border-left-color: #b9b9b9;
      background-color: #F3F3F3;
      background-image: linear-gradient(180deg, #F3F3F3, #D8D8D8); }

.comments .pagination {
  float: left;
  margin-bottom: 30px; }

.comments .pagination_information {
  float: left;
  color: #000; }

.section, .panel {
  background: #f4f4f4;
  border-radius: 4px;
  box-shadow: inset 0 1px 4px #ddd;
  margin-bottom: 20px; }
  .section > h3, .panel > h3 {
    background-color: #efefef;
    background-image: linear-gradient(180deg, #efefef, #dfe1e2);
    text-shadow: #fff 0 1px 0;
    border: solid 1px #cdcdcd;
    border-color: #d4d4d4;
    border-top-color: #e6e6e6;
    border-right-color: #d4d4d4;
    border-bottom-color: #cdcdcd;
    border-left-color: #d4d4d4;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px #FFF inset;
    font-size: 1em;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 0.5em;
    color: #5E6469;
    padding: 5px 10px 3px 10px; }
    .section > h3 .header_action, .panel > h3 .header_action {
      float: right; }
  .section > div, .panel > div {
    padding: 3px 15px 15px 15px; }
  .section hr, .panel hr {
    border: none;
    border-bottom: 1px solid #E8E8E8; }

.sidebar_section {
  background: #f4f4f4;
  border-radius: 4px;
  box-shadow: inset 0 1px 4px #ddd;
  margin-bottom: 20px; }
  .sidebar_section > h3 {
    background-color: #efefef;
    background-image: linear-gradient(180deg, #efefef, #dfe1e2);
    text-shadow: #fff 0 1px 0;
    border: solid 1px #cdcdcd;
    border-color: #d4d4d4;
    border-top-color: #e6e6e6;
    border-right-color: #d4d4d4;
    border-bottom-color: #cdcdcd;
    border-left-color: #d4d4d4;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px #FFF inset;
    font-size: 1em;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 0.5em;
    color: #5E6469;
    padding: 5px 10px 3px 10px; }
    .sidebar_section > h3 .header_action {
      float: right; }
  .sidebar_section > div {
    padding: 3px 15px 15px 15px; }
  .sidebar_section hr {
    border: none;
    border-bottom: 1px solid #E8E8E8; }

.columns {
  margin-bottom: 10px; }

.scopes li .count {
  color: #8e979e;
  font-weight: normal;
  font-size: 0.9em;
  line-height: 10px; }

.scopes li:first-child a {
  margin-left: 10px; }

.status_tag {
  background: #cacaca;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding: 3px 5px 2px 5px;
  font-size: 0.8em; }
  .status_tag.yes {
    background: #6090DB; }
  .status_tag.no {
    background: grey; }

.table_tools {
  margin-bottom: 16px; }
  .table_tools:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0; }

.table_tools .dropdown_menu {
  float: left; }

a.table_tools_button, .table_tools .dropdown_menu_button {
  border-radius: 200px;
  display: inline-block;
  font-weight: bold;
  font-size: 1.0em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 12px;
  margin-right: 3px;
  padding: 7px 16px 6px;
  text-decoration: none;
  background-color: #FFFFFF;
  background-image: linear-gradient(180deg, #FFFFFF, #E7E7E7);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
  border: solid 1px #c7c7c7;
  border-color: #c7c7c7;
  border-top-color: #d3d3d3;
  border-right-color: #c7c7c7;
  border-bottom-color: #c2c2c2;
  border-left-color: #c7c7c7;
  text-shadow: #fff 0 1px 0;
  color: #5E6469;
  background-color: #FFFFFF;
  background-image: linear-gradient(180deg, #FFFFFF, #F0F0F0);
  border-color: #d0d0d0;
  border-top-color: #d9d9d9;
  border-right-color: #d0d0d0;
  border-bottom-color: #c5c5c5;
  border-left-color: #d0d0d0;
  font-size: 0.9em;
  padding: 4px 14px 4px;
  margin: 0; }
  a.table_tools_button.disabled, .table_tools .dropdown_menu_button.disabled {
    opacity: 0.5;
    cursor: default; }
  a.table_tools_button:not(.disabled):hover, .table_tools .dropdown_menu_button:not(.disabled):hover {
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #FFFFFF, #F1F1F1); }
  a.table_tools_button:not(.disabled):active, .table_tools .dropdown_menu_button:not(.disabled):active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22) inset, 0 1px 0 0px #EEE;
    border-color: #b9b9b9;
    border-top-color: #c2c2c2;
    border-right-color: #b9b9b9;
    border-bottom-color: #b7b7b7;
    border-left-color: #b9b9b9;
    background-color: #F3F3F3;
    background-image: linear-gradient(180deg, #F3F3F3, #D8D8D8); }
  a.table_tools_button:not(.disabled):hover, .table_tools .dropdown_menu_button:not(.disabled):hover {
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #FFFFFF, #F6F6F6); }
  a.table_tools_button:not(.disabled):active, .table_tools .dropdown_menu_button:not(.disabled):active {
    border-color: #c8c8c8;
    border-top-color: #d7d7d7;
    border-right-color: #c8c8c8;
    border-bottom-color: #c3c3c3;
    border-left-color: #c8c8c8;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.17) inset;
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #FFFFFF, #E8E8E8); }

.table_tools_segmented_control {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .table_tools_segmented_control li {
    float: left; }
    .table_tools_segmented_control li a {
      border-width: 1px .5px 1px .5px;
      border-radius: 0; }
    .table_tools_segmented_control li:first-child a {
      border-left-width: 1px;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px; }
    .table_tools_segmented_control li:last-child a {
      border-right-width: 1px;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px; }
    .table_tools_segmented_control li.selected a {
      background-color: #F0F0F0;
      background-image: linear-gradient(180deg, #F0F0F0, #FDFDFD);
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1) inset;
      cursor: default; }
      .table_tools_segmented_control li.selected a:hover {
        background-color: #F0F0F0;
        background-image: linear-gradient(180deg, #F0F0F0, #FDFDFD); }

.indexes {
  float: right; }
  .indexes li .count {
    color: #8e979e;
    font-weight: normal;
    font-size: 0.9em;
    line-height: 10px; }

.unsupported_browser {
  padding: 10px 30px;
  color: #211e14;
  background-color: #fae692;
  background-color: #feefae;
  background-image: linear-gradient(180deg, #feefae, #fae692);
  border-bottom: 1px solid #b3a569; }
  .unsupported_browser h1 {
    font-size: 13px;
    font-weight: bold; }
  .unsupported_browser p {
    margin-bottom: 0.5em; }

.ui-tabs-nav {
  list-style: none;
  display: block;
  width: auto;
  margin-bottom: -12px;
  padding-left: 0;
  overflow: auto;
  margin-left: 15px; }
  .ui-tabs-nav li {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    float: left; }
    .ui-tabs-nav li:first-child a {
      border-left-width: 1px;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px; }
    .ui-tabs-nav li:last-child a {
      border-right-width: 1px;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px; }
    .ui-tabs-nav li a {
      border-radius: 200px;
      display: inline-block;
      font-weight: bold;
      font-size: 1.0em;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      line-height: 12px;
      margin-right: 3px;
      padding: 7px 16px 6px;
      text-decoration: none;
      background-color: #FFFFFF;
      background-image: linear-gradient(180deg, #FFFFFF, #E7E7E7);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
      border: solid 1px #c7c7c7;
      border-color: #c7c7c7;
      border-top-color: #d3d3d3;
      border-right-color: #c7c7c7;
      border-bottom-color: #c2c2c2;
      border-left-color: #c7c7c7;
      text-shadow: #fff 0 1px 0;
      color: #5E6469;
      background-color: #FFFFFF;
      background-image: linear-gradient(180deg, #FFFFFF, #F0F0F0);
      border-color: #d0d0d0;
      border-top-color: #d9d9d9;
      border-right-color: #d0d0d0;
      border-bottom-color: #c5c5c5;
      border-left-color: #d0d0d0;
      text-decoration: none;
      border-radius: 0;
      border-width: 1px .5px 1px .5px;
      margin-right: 0;
      padding: 4px 14px 4px; }
      .ui-tabs-nav li a.disabled {
        opacity: 0.5;
        cursor: default; }
      .ui-tabs-nav li a:not(.disabled):hover {
        background-color: #FFFFFF;
        background-image: linear-gradient(180deg, #FFFFFF, #F1F1F1); }
      .ui-tabs-nav li a:not(.disabled):active {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22) inset, 0 1px 0 0px #EEE;
        border-color: #b9b9b9;
        border-top-color: #c2c2c2;
        border-right-color: #b9b9b9;
        border-bottom-color: #b7b7b7;
        border-left-color: #b9b9b9;
        background-color: #F3F3F3;
        background-image: linear-gradient(180deg, #F3F3F3, #D8D8D8); }
      .ui-tabs-nav li a:not(.disabled):hover {
        background-color: #FFFFFF;
        background-image: linear-gradient(180deg, #FFFFFF, #F6F6F6); }
    .ui-tabs-nav li.ui-tabs-active a {
      cursor: default;
      background-color: #F0F0F0;
      background-image: linear-gradient(180deg, #F0F0F0, #FDFDFD);
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1) inset; }
      .ui-tabs-nav li.ui-tabs-active a a:hover {
        background-color: #F0F0F0;
        background-image: linear-gradient(180deg, #F0F0F0, #FDFDFD); }

.tab-content {
  border: 1px solid #D3D3D3;
  padding: 15px;
  padding-top: 30px;
  text-align: left; }

body.logged_out {
  background: #e8e9ea; }
  body.logged_out #content_wrapper {
    width: 500px;
    margin: 70px auto; }
    body.logged_out #content_wrapper #active_admin_content {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
      background: #fff;
      padding: 13px 30px; }
  body.logged_out h2 {
    background-color: #efefef;
    background-image: linear-gradient(180deg, #efefef, #dfe1e2);
    text-shadow: #fff 0 1px 0;
    border: solid 1px #cdcdcd;
    border-color: #d4d4d4;
    border-top-color: #e6e6e6;
    border-right-color: #d4d4d4;
    border-bottom-color: #cdcdcd;
    border-left-color: #d4d4d4;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px #FFF inset;
    font-size: 1em;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 0.5em;
    color: #5E6469;
    padding: 5px 10px 3px 10px;
    background-color: #6a7176;
    background-image: linear-gradient(180deg, #6a7176, #4d5256);
    border-bottom: 1px solid #44484b;
    text-shadow: #000 0 1px 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: none;
    color: #fff;
    margin: -13px -30px 20px -30px; }
  body.logged_out #login {
    /* Login Form */ }
    body.logged_out #login form fieldset {
      box-shadow: none;
      background: none;
      padding: 0;
      margin-bottom: 0; }
      body.logged_out #login form fieldset li {
        padding: 10px 0; }
      body.logged_out #login form fieldset input[type=text], body.logged_out #login form fieldset input[type=email], body.logged_out #login form fieldset input[type=password] {
        width: 70%; }
      body.logged_out #login form fieldset.buttons {
        margin-left: 20%; }
    body.logged_out #login a {
      float: right;
      margin-top: -32px; }

#footer {
  padding: 30px 30px;
  font-size: 0.8em;
  clear: both; }
  #footer p {
    padding-top: 10px; }

#index_footer {
  padding-top: 5px;
  text-align: right;
  font-size: 0.85em; }

.index_content {
  clear: both; }

#wrapper {
  width: 100%; }

.index #wrapper {
  display: table; }

#active_admin_content {
  margin: 0;
  padding: 30px; }
  #active_admin_content #main_content_wrapper {
    float: left;
    width: 100%; }
    #active_admin_content #main_content_wrapper #main_content {
      margin-right: 300px; }
  #active_admin_content.without_sidebar #main_content_wrapper #main_content {
    margin-right: 0; }
  #active_admin_content #sidebar {
    float: left;
    width: 270px;
    margin-left: -270px; }

#title_bar {
  background-color: #efefef;
  background-image: linear-gradient(180deg, #efefef, #dfe1e2);
  text-shadow: #fff 0 1px 0;
  border: solid 1px #cdcdcd;
  border-color: #d4d4d4;
  border-top-color: #e6e6e6;
  border-right-color: #d4d4d4;
  border-bottom-color: #cdcdcd;
  border-left-color: #d4d4d4;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px #FFF inset;
  font-size: 1em;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 0.5em;
  color: #5E6469;
  padding: 5px 10px 3px 10px;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
  display: table;
  border-bottom-color: #EEE;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 10px 30px;
  z-index: 800; }
  #title_bar:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0; }
  #title_bar #titlebar_left, #title_bar #titlebar_right {
    height: 50px;
    vertical-align: middle;
    display: table-cell; }
  #title_bar #titlebar_right {
    text-align: right; }
  #title_bar h2 {
    margin: 0;
    padding: 0;
    font-size: 2.6em;
    line-height: 100%;
    font-weight: bold; }
  #title_bar .action_items span.action_item > a, #title_bar .action_items span.action_item > .dropdown_menu > a {
    border-radius: 200px;
    display: inline-block;
    font-weight: bold;
    font-size: 1.0em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 12px;
    margin-right: 3px;
    padding: 7px 16px 6px;
    text-decoration: none;
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #FFFFFF, #E7E7E7);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
    border: solid 1px #c7c7c7;
    border-color: #c7c7c7;
    border-top-color: #d3d3d3;
    border-right-color: #c7c7c7;
    border-bottom-color: #c2c2c2;
    border-left-color: #c7c7c7;
    text-shadow: #fff 0 1px 0;
    color: #5E6469;
    padding: 12px 17px 10px;
    margin: 0px; }
    #title_bar .action_items span.action_item > a.disabled, #title_bar .action_items span.action_item > .dropdown_menu > a.disabled {
      opacity: 0.5;
      cursor: default; }
    #title_bar .action_items span.action_item > a:not(.disabled):hover, #title_bar .action_items span.action_item > .dropdown_menu > a:not(.disabled):hover {
      background-color: #FFFFFF;
      background-image: linear-gradient(180deg, #FFFFFF, #F1F1F1); }
    #title_bar .action_items span.action_item > a:not(.disabled):active, #title_bar .action_items span.action_item > .dropdown_menu > a:not(.disabled):active {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22) inset, 0 1px 0 0px #EEE;
      border-color: #b9b9b9;
      border-top-color: #c2c2c2;
      border-right-color: #b9b9b9;
      border-bottom-color: #b7b7b7;
      border-left-color: #b9b9b9;
      background-color: #F3F3F3;
      background-image: linear-gradient(180deg, #F3F3F3, #D8D8D8); }

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 72%;
  background: #FFF;
  color: #323537; }
