/* Active Admin CSS */

// Bourbon and it's awesome mixins
@import "bourbon";

// Reset Away!
@include global-reset;

// Partials
@import "active_admin/typography";
@import "active_admin/header";
@import "active_admin/forms";
@import "active_admin/components/comments";
@import "active_admin/components/flash_messages";
@import "active_admin/components/date_picker";
@import "active_admin/components/tables";
@import "active_admin/components/blank_slates";
@import "active_admin/components/breadcrumbs";
@import "active_admin/components/buttons";
@import "active_admin/components/grid";
@import "active_admin/components/links";
@import "active_admin/components/pagination";
@import "active_admin/components/panels";
@import "active_admin/components/scopes";
@import "active_admin/components/status_tags";
@import "active_admin/components/table_tools";
@import "active_admin/pages/dashboard";
@import "active_admin/pages/logged_out";
@import "active_admin/structure/footer";
@import "active_admin/structure/main_structure";
@import "active_admin/structure/title_bar";

body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 150%;
  font-size: 72%;
  background: #fff;
  margin: 0;
  padding: 0;
  color: $text-color;
}