body.logged_in {
  .flash {
    @include primary-gradient;
    @include shadow;
    @include text-shadow(#222);
    background-color: #a24a42;
    border: none;
    border-bottom: 1px solid #44484B;
    color: #fff;
    font-weight: bold;
    line-height: 1.0em;
    margin-bottom: 10px;
    padding: 12px 30px;

    &.flash_notice { @include gradient(#7d9582, #667d6a); }
    &.flash_error { @include gradient(#a8716d, #955c59); }
  }
}

body.logged_out {
  .flash {
    @include no-shadow;
    @include text-shadow(#fff);
    background: none;
    color: #666;
    font-weight: bold;
    line-height: 1.0em;
    margin-bottom: 10px;
    padding: 0;
  }
}