//= depend_on_asset "active_admin/datepicker/datepicker-input-icon.png"

input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=url],
input[type=tel],
textarea {
  border: $border-width solid #c9d0d6;
  border-radius: 3px;
  display: inline-block;
  outline: none;
  padding: 6px 8px;
  width: calc(80% - #{$text-input-total-padding});

  &:focus {
    border: $border-width solid #99a2aa;
    box-shadow: 0 0 4px #99a2aa;
  }
}

.formtastic {
  ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .hidden {
    display: none;
  }

  .input {
    margin-bottom: 15px;
  }

  .label {
    color: $form-label-color;
    display: block;
    float: left;
    font-weight: bold;
    width: 20%;

    abbr {
      border: none;
      color:  $required-field-marker-color;
      margin-left: 0.3em;
    }
  }

  .inputs {
    @include section-background;

    > ol {
      padding: 15px;
    }
  }

  fieldset {
    border: 0;
    margin: 0 0 20px 0;
    padding: 0;
    position: relative; // for abosolute positioning sub fieldset legends for choices/fragments

    legend {
      width: 100%;

      span {
        display: block;
        @include section-header;
      }
    }

    .has_many_container {
      h3 {
        border-bottom: 1px solid #e8e8e8;
        margin-bottom: 20px;
      }
    }
  }

  // relative so the absolutely-positioned handle will fit
  .has_many_fields {
    border-bottom: 1px solid #e8e8e8;

    ol {
      padding: 0 15px;
      position: relative;
    }

    .handle {
      cursor: move;
      position: absolute;
      right: 0;
      top: calc(50% - 3em / 2);
    }
  }

  // Nested Fieldsets and Legends (radio, check boxes and date/time inputs use nested fieldsets)

  legend.label {
    font-size: inherit;
    left: 0;
    position: absolute
  }

  .choices-group,
  .fragments-group {
    float: left;
    padding: 0 0 0 20%;
    width: 74%;
  }

  .choice,
  .fragment {
    margin: 0 0 0.5em 0;
  }

  .fragment {
    display: inline-block;
    margin: 0 0.5em 0 0;

    label {
      display: none;
    }
  }

  // BOOLEAN OVERRIDES

  .boolean input,
  .choice input {
    display: inline-block; // for IE
    margin: 0 0.5em 0 0;
  }

  .boolean label {
    padding-left: 20%;
    padding-right: 10px;
    width: 80%;
  }

  // HINTS and ERRORS

  .inline-hints,
  .inline-errors,
  .errors {
    margin: 0.3em 0 0 20%;
  }

  .inline-hints {
    color: #999;
  }

  .inline-errors, .errors {
    color: $error-color;
    font-weight: bold;
  }

  .errors {
    background-color: lighten($error-color, 60%);
    border-radius: 3px;
    list-style-type: square;
    padding: 10px 10px 10px 25px;
    width: calc(80% - 22px);
  }

  // Buttons

  input[type=submit],
  input[type=button],
  button {
    @include dark-button;
  }

  .button,
  .action {
    display: inline-block;
    margin-right: 0.5em;
  }

  .cancel {
    a {
      @include light-button;
      @include icon(#777, 9px);
    }
  }
}

// -------------------------------------- Sidebar Forms

$sidebar-inner-content-width: $sidebar-width - ($section-padding * 2);

.sidebar_section {
  select {
    width: $sidebar-inner-content-width;
  }

  input[type=text],
  input[type=password],
  input[type=email],
  input[type=url],
  input[type=tel],
  textarea {
    width: $sidebar-inner-content-width - ($text-input-horizontal-padding * 2);
  }
}

// -------------------------------------- Filter Forms

$filter-field-seperator-width: 12px;

$side-by-side-filter-input-width: ($sidebar-inner-content-width / 2) - $filter-field-seperator-width;
$side-by-side-filter-select-width: ($sidebar-inner-content-width / 2);

$date-range-filter-input-right-padding: 25px;

$date-range-filter-input-width: ($sidebar-inner-content-width / 2) - ($filter-field-seperator-width / 2);

.filter_form_field {
  margin-bottom: 12px;

  .label {
    display: block;
    margin: 0 0 0.18em 0;
  }

  &.select_and_search {
    input[type=text] {
      margin-left: $filter-field-seperator-width;
      width: $side-by-side-filter-input-width;
    }

    select {
      width: $side-by-side-filter-select-width;
    }
  }

  &.filter_date_range {
    input {
      background: #fff image-url('active_admin/datepicker/datepicker-input-icon.png') no-repeat 100% 6px;
      padding-right: $date-range-filter-input-right-padding;
      width: $date-range-filter-input-width;
    }

    input + input {
      margin-left: 6px;
    }
  }
}

.filter_check_boxes {
  .choices {
    border: none;
    margin: 0;
    padding: 0;

    > label {
      display: block;
    }
  }
}

.filter_form {
  .buttons > * {
    margin-right: 5px;
  }

  a.clear_filters_btn {
    @include light-button;
  }
}
