.main-navbar {
  background-color: $navbar-background-color;
  display: table;
  padding: 0 $horizontal-page-margin;
  width: 100%;

  a, a:link, a:visited {
    color: $navbar-link-color;
    text-decoration: none;
  }

  a:hover {
    color: $navbar-link-hover-color;
  }

  h1,
  .tabs {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
  }

  h1 {
    color: $navbar-color;
    font-size: 1.3em;
    font-weight: normal;
  }

  .tabs {
    display: table-cell;
    margin: 0;
    padding: 0 20px;
    width: 100%;

    & > li {
      display: inline-block;
      position: relative;

      a {
        display: inline-block;
        padding: $navbar-padding-vertical $navbar-padding-horizontal;
        position: relative;
      }

      &.current > a {
        background-color: $navbar-link-active-background-color;
        color: $navbar-link-active-color;
      }

      &.has_nested > a,
      &.has_nested.current > a,
      &.has_nested:hover > a {
        padding-right: $navbar-arrow-width + $navbar-padding-vertical + 4px;

        &:after {
          border-left: ($navbar-arrow-width / 2) solid transparent;
          border-right: ($navbar-arrow-width / 2) solid transparent;
          border-top: $navbar-arrow-height dashed;
          content: '';
          height: 0;
          position: absolute;
          right: $navbar-padding-vertical;
          top: calc(50% - #{$navbar-arrow-height / 2});
          width: 0;
        }
      }

      &:hover > a {
        background-color: $navbar-link-hover-background-color;
        color: $navbar-link-hover-color;
      }

      &.has_nested:hover > a {
        z-index: 960; // so top part of sub menu box-shadow doesn't appear over this link
      }

      &:hover ul {
        display: block;
      }

      ul {
        background-color: $navbar-background-color;
        border-radius: 0 0 $navbar-border-radius $navbar-border-radius;
        display: none;
        list-style: none;
        min-width: 175px;
        padding: 5px 0;
        position: absolute;
        z-index: 950;

        li {
          a {
            display: block;
            padding: ($navbar-padding-vertical / 2) $navbar-padding-horizontal;
          }

          &.current a,
          a:hover {
            background-color: $navbar-link-hover-background-color;
            color: $navbar-link-hover-color;
          }
        }
      }
    }
  }

  .utility-nav {
    padding: 0;
    text-align: right;
    white-space: nowrap;
  }
}
