// ----------------------------------- Header 
#header { 
  @include primary-gradient;
  @include shadow;
  @include text-shadow(#000);
  padding: 9px $horizontal-page-margin;
  position: relative;
  z-index: 900;

  h1 { 
    display: inline; 
    color: #cdcdcd;
    margin-right: 20px; 
    font-size: 1.3em; 
    font-weight: normal; 
  }

  a, a:link { color: #cdcdcd; }

  ul#tabs {
    margin: 0; 
    padding: 0; 
    display: inline; 
    height: 100%;

    & > li { 
      display: inline-block; 
      margin-right: 4px; 
      font-size: 1.0em; 
      position: relative; 

      a { 
        text-decoration: none; 
        padding: 6px 10px 4px 10px; 
        position: relative;
        @include rounded(10px);
      }

      &.current > a {
        background: $current-menu-item-background;
        color: #fff;
      }

      &.has_nested > a { 
        background: url(active_admin_image_path('nested_menu_arrow.gif')) no-repeat 89% 50%; 
        padding-right: 20px; 
      }

      &.has_nested.current > a { 
        background: $current-menu-item-background url(active_admin_image_path('nested_menu_arrow_dark.gif')) no-repeat 89% 50%; 
        padding-right: 20px; 
      }

      &:hover > a { 
        background: $hover-menu-item-background;
        color: #fff;
      }

      &.has_nested:hover > a { 
        @include rounded-top(10px);
        z-index: 800;
        border-bottom: 5px solid $hover-menu-item-background;
        background: $hover-menu-item-background url(active_admin_image_path('nested_menu_arrow_dark.gif')) no-repeat 89% 50%;
      }


      /* Hover on li, display the ul */
      &:hover ul { display: block;}
      /* Drop down menus */
      ul { 
        background: $hover-menu-item-background;
        @include rounded-all(0,10px,10px,10px);
        @include shadow(0, 1px, 3px, #444);
        position: absolute; 
        width: 175px; 
        margin-top: 4px;
        float: left;
        display: none; 
        padding: 3px 0px 5px 0;
        list-style: none;

        li { 
          margin: 0px; 
          a { 
            background: none;
            display: block; 
            &:hover { color: #fff; background: none; }
          }

          &.current {
            a { @include rounded(0) }
          }
        }
      }
    }

  }

  #utility_nav { 
    position: absolute; right: 25px; top: 10px; 
    color: #aaa;
    span, a { margin-left: 10px; }

    a { text-decoration: none; }
    a:hover { color: #fff; }
  }

}
