.main-navbar {
  background-color: lighten($primary-color, 5%);
  display: table;
  padding: 0 $horizontal-page-margin;
  width: 100%;

  a, a:link, a:visited {
    color: $page-header-text-color;
    text-decoration: none;
  }

  a:hover {
    color: #fff;
  }

  h1,
  .tabs {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
  }

  h1 {
    color:  $page-header-text-color;
    font-size: 1.3em;
    font-weight: normal;
  }

  .tabs {
    display: table-cell;
    margin: 0;
    padding: 0 20px;
    width: 100%;

    & > li {
      display: inline-block;
      position: relative;

      a {
        display: inline-block;
        padding: 10px;
        position: relative;
      }

      &.current > a {
        background-color: $current-menu-item-background;
        color: #fff;
      }

      &.has_nested > a,
      &.has_nested.current > a,
      &.has_nested:hover > a {
        padding-right: 8px + 10px + 4px; // arrow width + link right padding + little spacing

        &:after {
          border-left: 4px solid transparent; // arrow width is 8px
          border-right: 4px solid transparent;
          border-top: 4px dashed; // arrow height is 4px
          content: '';
          height: 0;
          position: absolute;
          right: 10px;
          top: calc(50% - 2px); // half of arrow height
          width: 0;
        }
      }

      &:hover > a {
        background-color: $hover-menu-item-background;
        color: #fff;
      }

      &.has_nested:hover > a {
        z-index: 960; // so top part of sub menu box-shadow doesn't appear over this link
      }

      &:hover ul {
        display: block;
      }

      ul {
        background-color: lighten($primary-color, 5%);
        border-radius: 0 0 4px 4px;
        display: none;
        list-style: none;
        min-width: 175px;
        padding: 5px 0;
        position: absolute;
        z-index: 950;

        li {
          a {
            display: block;
            padding: 5px 10px;
          }

          &.current a,
          a:hover {
            background-color: $hover-menu-item-background;
            color: #fff;
          }
        }
      }
    }
  }

  .utility-nav {
    padding: 0;
    text-align: right;
    white-space: nowrap;
  }
}
