h1, h2, h3, h4, h5, h6 {
  color: $headings-color;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
}

h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.2em;
  margin-bottom: 1.25em;
}

h5, h6 {
  font-size: 1em;
}

p {
  margin: 0 0 1em;
}

blockquote  {
  color: $blockquote-color;
  margin: 1em;
}

pre {
  line-height: 1;
}

pre,
code {
  font-family: $font-family-monospace;
}

ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}

li ul,
li ol {
  margin: 0;
}

hr {
  border: none;
  border-bottom: 1px solid $hr-border-color;
}
