class CreateProfiles < ActiveRecord::Migration[<%= Rails::VERSION::MAJOR %>.<%= Rails::VERSION::MINOR %>]
  def change
    create_table :profiles do |t|
      t.integer :user_id
      t.text :bio
      t.datetime :created_at
      t.datetime :updated_at
    end
  end
end
