class CreateBlogPosts < ActiveRecord::Migration[<%= Rails::VERSION::MAJOR %>.<%= Rails::VERSION::MINOR %>]
  def change
    create_table :blog_posts do |t|
      t.string :title
      t.text :body
      t.date :published_date
      t.integer :author_id
      t.integer :position
      t.integer :custom_category_id
      t.boolean :starred
      t.integer :foo_id
      t.datetime :created_at
      t.datetime :updated_at
    end
  end
end
