name: General Lint

on:
  pull_request:

env:
  RUBY_VERSION: '4.0'

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
          bundler-cache: true
      - name: Generate docs
        run: bin/rake docs:build
